{
    "openapi": "3.1.1",
    "info": {
        "title": "ASTROX Web API",
        "description": "航天算法库(blitheli)",
        "version": "2026-04-22"
    },
    "servers": [
        {
            "url": "http://astrox.cn:8765/"
        }
    ],
    "paths": {
        "/ziyou": {
            "post": {
                "tags": [
                    "Ziyou"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZiyouInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZiyouInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ZiyouInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZiyouOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZiyouOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ZiyouOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/access/AccessComputeV2": {
            "post": {
                "tags": [
                    "Access"
                ],
                "summary": "Access计算V2",
                "description": "De430精密历表,考虑光延迟；FromObject作为转发器；ToObject作为接收器！ <br>位置类型: CzmlPosition,SitePosition,J2,SGP4,TwoBody,CentralBody  <br>姿态类型: CzmlOrientation,VVLH,LVLH,VNC  <br>传感器类型: Conic,Rectangular  <br>输出参数中，如果from对象非地面物体，则方位角无意义，待完善！<br>目前仅传感器且姿态为CzmlOrientation时设置了采样的步长，其它约束均未设置，默认为60s",
                "operationId": "AccessComputeV2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessInput2"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessInput2"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccessInput2"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccessOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/access/ChainCompute": {
            "post": {
                "tags": [
                    "Access"
                ],
                "summary": "链路计算V1",
                "description": "De430历表，考虑光延迟。StartObject为转发器，EndObject为接收器 <br>仅支持链路类型：  <br>- 仅1个链路 <br>- 1个对象-对象集合，或：对象集合-1个对象",
                "operationId": "ChainCompute",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChainInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChainInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChainInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChainOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChainOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChainOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Astrogator/RunMCS": {
            "post": {
                "tags": [
                    "Astrogator"
                ],
                "summary": "运行轨道机动序列",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AstrogatorMCS"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AstrogatorMCS"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/AstrogatorMCS"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCSOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCSOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MCSOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/CA_ComputeV3": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "summary": "空间碎片接近碰撞计算V3",
                "description": "飞行器为SGP4积分器  <br>轨道面夹角由输入参数控制,缺省为3°->1°，大幅减少计算时间  <br>输入参数中，Targets可为Null，则从数据库中读取所有目标(Data/DataBases/Satellite)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/CA_ComputeV4": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "summary": "空间碎片接近碰撞计算V4",
                "description": "主要适用于火箭等单个飞行器的接近计算  <br>飞行器星历为Czml Position类型，适合火箭等各种对象(星历时长最好不超过三十分钟)  <br>仅近地点远地点筛选，距离约束直接采用离散点+Brent求极小值方法  <br>输入参数中，Targets可为Null，则从数据库中读取所有目标(Data/DataBases/Satellite)",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput4"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput4"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CAInput4"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput4"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput4"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CAOutput4"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/DebrisBreakupSimple": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "summary": "空间碎片简单生成",
                "description": "指定母星、生成时刻，所有碎片相对速度大小相同，生成方向范围、总碎片数目",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/DebrisBreakup": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupIn"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupIn"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/DebrisBreakupNASA": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebrisBreakupOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/GetTLE": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "summary": "两行根数生成",
                "description": "由TEME系下的kepler根数生成两行根数",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TLE_Input"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TLE_Input"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TLE_Input"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/TleInfo2"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TleInfo2"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TleInfo2"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/CAT/LifeTimeTLE": {
            "post": {
                "tags": [
                    "CAT2"
                ],
                "summary": "两行根数的轨道寿命计算",
                "description": "两行根数的轨道寿命计算",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LifeTimeTLE_Input"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LifeTimeTLE_Input"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LifeTimeTLE_Input"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LifeTimeTLE_Output"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LifeTimeTLE_Output"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LifeTimeTLE_Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/celestial/ephemeris": {
            "post": {
                "tags": [
                    "Celestial"
                ],
                "summary": "天体星历计算",
                "description": "根据输入的天体名称、观测者名称、观测者坐标系、分析开始时刻、分析结束时刻和积分步长，计算目标天体在分析时间段内的星历数据，并以CZML格式输出。",
                "operationId": "ephermeris",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EphemerisInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EphemerisInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/EphemerisInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/GetGridPoints": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "由网格定义获取所有网格点及其Cell信息",
                "description": "网格定义参数Grid为接口类型，需根据具体需求输入相应类型的参数！",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageGridInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageGridInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageGridInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageGridPointsOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageGridPointsOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageGridPointsOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/ComputeCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "计算覆盖",
                "description": "目前仅支持中心天体网格，返回所有网格点的所有资源覆盖时间段集合，以及对应的覆盖资源数",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageOutput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageOutput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CoverageOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPoint/SimpleCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的简单覆盖结果(用于静态结果)",
                "description": "与ComputeType无关,与满意度标准无关  <br>覆盖分析时间区间内,只要有覆盖则为1,否则为0",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPointAtTime/SimpleCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 某时刻所有网格点的简单覆盖结果(用于动态结果)",
                "description": "与ComputeType无关,与满意度标准无关  <br>有覆盖则为1,否则为0",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStats/SimpleCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的简单覆盖统计值(最小、最大、平均)",
                "description": "与ComputeType无关,与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStatsOverTime/SimpleCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的简单覆盖统计值(最小、最大、平均)随时间变化",
                "description": "与ComputeType无关,与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPoint/CoverageTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的覆盖时长(用于静态结果)",
                "description": "ComputeType:TotalTimeAbove  <br>每个网格点的FOM数值为覆盖分析时间区间内的覆盖总时间  <br>与最小覆盖资源数相关，与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStats/CoverageTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的覆盖时长统计值(最小、最大、平均)",
                "description": "ComputeType:TotalTimeAbove  <br>与最小覆盖资源数相关，与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPoint/NumberOfAssets": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的覆盖资源数(用于静态结果)",
                "description": "ComputeType:Maximum,Minimum,Average  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPointAtTime/NumberOfAssets": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 某时刻所有网格点的覆盖资源数(用于动态结果)",
                "description": "与ComputeType无关  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStats/NumberOfAssets": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的覆盖资源数统计值(最小、最大、平均)",
                "description": "ComputeType:Maximum,Minimum,Average  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStatsOverTime/NumberOfAssets": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的覆盖资源数统计值(最小、最大、平均)随时间变化",
                "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPoint/ResponseTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的响应时间(用于静态结果)",
                "description": "ComputeType:Maximum,Minimum  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPointAtTime/ResponseTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 某时刻所有网格点的响应时间(用于动态结果)",
                "description": "与ComputeType无关  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStats/ResponseTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的响应时间统计值(最小、最大、平均)",
                "description": "ComputeType:Maximum,Minimum  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStatsOverTime/ResponseTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的响应时间统计值(最小、最大、平均)随时间变化",
                "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPoint/RevisitTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的重访时间(用于静态结果)",
                "description": "ComputeType:Maximum,Minimum,Average  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/ValueByGridPointAtTime/RevisitTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 某时刻所有网格点的重访时间(用于动态结果)",
                "description": "与ComputeType无关  <br>与满意度标准无关",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStats/RevisitTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的重访时间统计值(最小、最大、平均)",
                "description": "ComputeType:Maximum,Minimum,Average  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStats"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/FOM/GridStatsOverTime/RevisitTime": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "覆盖品质: 所有网格点的重访时间统计值(最小、最大、平均)随时间变化",
                "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/Report/CoverageByAsset": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "获取报告: 每个资源对应的覆盖百分比(最小、最大、平均、累计)",
                "description": "与FOM无关  <br>内部使用ReportPercentCoverage类  <br>计算步长影响最小，最大，平均覆盖率的数值，越小越精确，但是程序计算时长会增加",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportCoverageByAsset"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportCoverageByAsset"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportCoverageByAsset"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Coverage/Report/PercentCoverage": {
            "post": {
                "tags": [
                    "Coverage"
                ],
                "summary": "获取报告: 覆盖百分比(随时间变化的瞬时覆盖百分比和累计覆盖百分比)",
                "description": "与FOM无关  <br>内部使用SatisfactionIntervals属性，此参数对应最小资源数约束的结果",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoverageInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportPercentCoverage"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportPercentCoverage"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReportPercentCoverage"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/InterfaceClass": {
            "post": {
                "tags": [
                    "Interface"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InterfaceInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InterfaceInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/InterfaceInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/LandingZone": {
            "post": {
                "tags": [
                    "LandingZone"
                ],
                "summary": "求解火箭落区边界的大地坐标参数",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LandingZoneInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LandingZoneInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LandingZoneInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LandingZoneOuput"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LandingZoneOuput"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LandingZoneOuput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Lighting/LightingTimes": {
            "post": {
                "tags": [
                    "Lighting"
                ],
                "summary": "光照时间计算(考虑De430,视太阳位置）。取代原来的LightingTimesSc和LightingTimesSite",
                "description": "若提供遮挡天体列表则使用；否则默认为:日地月中心天体则考虑地月遮挡；其它天体考虑自身中心天体遮挡 <br>飞行器:仅考虑天体遮挡,无地形。地面站:可考虑地形遮挡。 <br>第1个遮挡天体为中心天体 <br>仅考虑光延迟，不考虑光行差,与STK结果一致!",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LightingTimesInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LightingTimesInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/LightingTimesInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/LightingTimesOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LightingTimesOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LightingTimesOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Lighting/SolarIntensity": {
            "post": {
                "tags": [
                    "Lighting"
                ],
                "summary": "视太阳光照强度等参数计算(考虑De430)。取代原来的SolarIntensitySc和SolarIntensitySite",
                "description": "若提供遮挡天体列表则使用；否则默认为:日地月中心天体则考虑地月遮挡；其它天体考虑自身中心天体遮挡 <br>飞行器:仅考虑天体遮挡,无地形。地面站:可考虑地形遮挡。 <br>第1个遮挡天体为中心天体 <br>仅考虑光延迟，不考虑光行差,与STK结果一致!",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarIntensityInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarIntensityInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarIntensityInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarIntensityOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarIntensityOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarIntensityOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/Lighting/SolarAER": {
            "post": {
                "tags": [
                    "Lighting"
                ],
                "summary": "太阳的AER计算",
                "description": "目前仅考虑地面站",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarAERInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarAERInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/SolarAERInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarAEROut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarAEROut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SolarAEROut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitConvert/Kepler2RV": {
            "post": {
                "tags": [
                    "OrbitConvert"
                ],
                "summary": "Kepler根数转换位置速度",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitConvert/RV2Kepler": {
            "post": {
                "tags": [
                    "OrbitConvert"
                ],
                "summary": "位置速度转轨道根数(地球惯性系)",
                "requestBody": {
                    "description": "位置速度(m,m/s)",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        },
                        "text/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "number",
                                    "format": "double"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeplerElements"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeplerElements"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeplerElements"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitConvert/Kepler2LLAAtAscendNode": {
            "post": {
                "tags": [
                    "OrbitConvert"
                ],
                "summary": "根据Kepler根数计算升交点处的经纬高",
                "description": "只适用于地球，二体轨道递推",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitConvert/CalGEOYMLambertDv": {
            "post": {
                "tags": [
                    "OrbitConvert"
                ],
                "summary": "根据GEO轨道平台、目标轨道根数、飞行时长，计算Lambert速度增量",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEOYMLambertInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEOYMLambertInput"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEOYMLambertInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "number",
                                        "format": "double"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitConvert/GetKozaiIzsakMeanElements": {
            "post": {
                "tags": [
                    "OrbitConvert"
                ],
                "summary": "由瞬时Kepler根数，计算平均根数(近圆轨道，仅考虑J2阶短周期项)，KozaiIzsak方法",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeplerElements"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeanKeplerElements"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeanKeplerElements"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MeanKeplerElements"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitSystem/CentralBodyFrame": {
            "post": {
                "tags": [
                    "OrbitSystem"
                ],
                "parameters": [
                    {
                        "name": "toCb",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "referenceFrame",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitSystem/EarthMoonLibration": {
            "post": {
                "tags": [
                    "OrbitSystem"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitSystem/EarthMoonLibration2": {
            "post": {
                "tags": [
                    "OrbitSystem"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/EntityPositionCzml3"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CzmlPositionSTMOut"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/OrbitWizard/GEO": {
            "post": {
                "tags": [
                    "OrbitWizard"
                ],
                "summary": "生成地球同步轨道GEO轨道参数",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEO_Input"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEO_Input"
                            }
                        },
                        "application/*+json": {
                            "schema": {
                                "$ref": "#/components/schemas/GEO_Input"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "text/plain": {
                                "schema": {
                                    "$ref": "#/components/schemas/GEO_Output"
                                }
                            },
                            "application/json": {
                                "schema": {
[...]
