{
  "openapi": "3.1.1",
  "info": {
    "title": "ASTROX Web API(.Net 10)",
    "description": "航天算法库(blitheli)",
    "version": "2026-06-24"
  },
  "servers": [
    {
      "url": "http://astrox.cn:8765/"
    }
  ],
  "paths": {
    "/celestial/ephemeris": {
      "post": {
        "tags": [
          "Celestial"
        ],
        "summary": "天体星历计算",
        "description": "根据输入的天体名称、观测者名称、观测者坐标系、分析开始时刻、分析结束时刻和积分步长，计算目标天体在分析时间段内的星历数据，并以CZML Position格式输出。",
        "operationId": "ephermeris",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EphemerisInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EphemerisInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EphemerisInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/celestial/CbAxesRotation": {
      "post": {
        "tags": [
          "Celestial"
        ],
        "summary": "天体坐标系旋转计算",
        "description": "计算某历元时刻，天体A坐标轴到天体B坐标轴的旋转四元数及角速度。<br>坐标系可选: FIXED(固定系), INERTIAL(惯性系), J2000, ICRF, MeanEclpJ2000。<br>涉及月球Fixed系时默认加载JPL DE430历表。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CbAxesRotationInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CbAxesRotationInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CbAxesRotationInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CbAxesRotationOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CbAxesRotationOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CbAxesRotationOut"
                }
              }
            }
          }
        }
      }
    },
    "/celestial/mpc": {
      "post": {
        "tags": [
          "Celestial"
        ],
        "summary": "mpc小行星星历计算",
        "description": "根据小行星的名称(或编号),调用 https://data.minorplanetcenter.net/api/get-orb 获取轨道根数(MJD TDT历元)<br> 按照使用Heliocentric1day积分器进行轨道递推(固定1天步长) <br>输出星历为日心系(MeanEclpJ2000,ICRF,...由输入参数指定)",
        "operationId": "mpc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MpcInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MpcInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MpcInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MpcOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MpcOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MpcOutput"
                }
              }
            }
          }
        }
      }
    },
    "/celestial/transfer": {
      "post": {
        "tags": [
          "Celestial"
        ],
        "summary": "天体之间Lambert转移轨道计算",
        "description": "行星(小行星)之间的Lambert转移轨道计算 <br>小行星按照 Heliocentric 积分器进行轨道递推 <br>出发天体和到达天体均支持: 行星(Earth,Mars,Ceres...)以及小行星(MPC编号/名称,如:Apophis,2015 XF261)<br>小行星可直接输入历元轨道参数,则不需要网络查询! <br>计算结果参考系通常为日心:MeanEclpJ2000,ICRF...",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanetTransferInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PlanetTransferInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PlanetTransferInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PlanetTransferOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanetTransferOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanetTransferOutput"
                }
              }
            }
          }
        }
      }
    },
    "/access/AccessComputeV2": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "Access计算V2",
        "description": "De430精密历表,考虑光延迟；FromObject作为转发器；ToObject作为接收器！ <br>位置类型: CzmlPosition,SitePosition,J2,SGP4,TwoBody,CentralBody  <br>姿态类型: CzmlOrientation,VVLH,LVLH,VNC  <br>传感器类型: Conic,Rectangular  <br>输出参数中，如果from对象非地面物体，则方位角无意义，待完善！<br>目前仅传感器且姿态为CzmlOrientation时设置了采样的步长，其它约束均未设置，默认为60s",
        "operationId": "AccessComputeV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessInput2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessInput2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccessInput2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccessOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessOutput"
                }
              }
            }
          }
        }
      }
    },
    "/access/ChainCompute": {
      "post": {
        "tags": [
          "Access"
        ],
        "summary": "链路计算V1",
        "description": "De430历表，考虑光延迟。StartObject为转发器，EndObject为接收器 <br>仅支持链路类型：  <br>- 仅1个链路 <br>- 1个对象-对象集合，或：对象集合-1个对象",
        "operationId": "ChainCompute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChainInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChainInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChainInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChainOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChainOutput"
                }
              }
            }
          }
        }
      }
    },
    "/Astrogator/RunMCS": {
      "post": {
        "tags": [
          "Astrogator"
        ],
        "summary": "运行轨道机动序列",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AstrogatorMCS"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AstrogatorMCS"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AstrogatorMCS"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MCSOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCSOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCSOutput"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/CA_ComputeV3": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "summary": "空间碎片接近碰撞计算V3",
        "description": "飞行器为SGP4积分器  <br>轨道面夹角由输入参数控制,缺省为3°->1°，大幅减少计算时间  <br>输入参数中，Targets可为Null，则从数据库中读取所有目标(Data/DataBases/Satellite)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/CA_ComputeV4": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "summary": "空间碎片接近碰撞计算V4",
        "description": "主要适用于火箭等单个飞行器的接近计算  <br>飞行器星历为Czml Position类型，适合火箭等各种对象(星历时长最好不超过三十分钟)  <br>仅近地点远地点筛选，距离约束直接采用离散点+Brent求极小值方法  <br>输入参数中，Targets可为Null，则从数据库中读取所有目标(Data/DataBases/Satellite)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput4"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput4"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CAInput4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput4"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput4"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CAOutput4"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/DebrisBreakupSimple": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "summary": "空间碎片简单生成",
        "description": "指定母星、生成时刻，所有碎片相对速度大小相同，生成方向范围、总碎片数目",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupSimpleIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/DebrisBreakup": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupIn"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupIn"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/DebrisBreakupNASA": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DebrisBreakupNASAIn"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebrisBreakupOut"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/GetTLE": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "summary": "两行根数生成",
        "description": "由TEME系下的kepler根数生成两行根数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TLE_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/TLE_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/TLE_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TleInfo"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TleInfo"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TleInfo"
                }
              }
            }
          }
        }
      }
    },
    "/CAT/LifeTimeTLE": {
      "post": {
        "tags": [
          "CAT2"
        ],
        "summary": "两行根数的轨道寿命计算",
        "description": "两行根数的轨道寿命计算",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LifeTimeTLE_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LifeTimeTLE_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LifeTimeTLE_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LifeTimeTLE_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifeTimeTLE_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LifeTimeTLE_Output"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/GetGridPoints": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "由网格定义获取所有网格点及其Cell信息",
        "description": "网格定义参数Grid为接口类型，需根据具体需求输入相应类型的参数！",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageGridInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageGridInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageGridInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageGridPointsOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageGridPointsOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageGridPointsOut"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/ComputeCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "计算覆盖",
        "description": "目前仅支持中心天体网格，返回所有网格点的所有资源覆盖时间段集合，以及对应的覆盖资源数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoverageOutput"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPoint/SimpleCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的简单覆盖结果(用于静态结果)",
        "description": "与ComputeType无关,与满意度标准无关  <br>覆盖分析时间区间内,只要有覆盖则为1,否则为0",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPointAtTime/SimpleCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 某时刻所有网格点的简单覆盖结果(用于动态结果)",
        "description": "与ComputeType无关,与满意度标准无关  <br>有覆盖则为1,否则为0",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStats/SimpleCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的简单覆盖统计值(最小、最大、平均)",
        "description": "与ComputeType无关,与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStatsOverTime/SimpleCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的简单覆盖统计值(最小、最大、平均)随时间变化",
        "description": "与ComputeType无关,与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPoint/CoverageTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的覆盖时长(用于静态结果)",
        "description": "ComputeType:TotalTimeAbove  <br>每个网格点的FOM数值为覆盖分析时间区间内的覆盖总时间  <br>与最小覆盖资源数相关，与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStats/CoverageTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的覆盖时长统计值(最小、最大、平均)",
        "description": "ComputeType:TotalTimeAbove  <br>与最小覆盖资源数相关，与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPoint/NumberOfAssets": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的覆盖资源数(用于静态结果)",
        "description": "ComputeType:Maximum,Minimum,Average  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPointAtTime/NumberOfAssets": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 某时刻所有网格点的覆盖资源数(用于动态结果)",
        "description": "与ComputeType无关  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStats/NumberOfAssets": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的覆盖资源数统计值(最小、最大、平均)",
        "description": "ComputeType:Maximum,Minimum,Average  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStatsOverTime/NumberOfAssets": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的覆盖资源数统计值(最小、最大、平均)随时间变化",
        "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPoint/ResponseTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的响应时间(用于静态结果)",
        "description": "ComputeType:Maximum,Minimum  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPointAtTime/ResponseTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 某时刻所有网格点的响应时间(用于动态结果)",
        "description": "与ComputeType无关  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStats/ResponseTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的响应时间统计值(最小、最大、平均)",
        "description": "ComputeType:Maximum,Minimum  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStatsOverTime/ResponseTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的响应时间统计值(最小、最大、平均)随时间变化",
        "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPoint/RevisitTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的重访时间(用于静态结果)",
        "description": "ComputeType:Maximum,Minimum,Average  <br>每个网格点的FOM数值为覆盖分析时间区间内的统计数值  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/ValueByGridPointAtTime/RevisitTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 某时刻所有网格点的重访时间(用于动态结果)",
        "description": "与ComputeType无关  <br>与满意度标准无关",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_TimeValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_ValueByGridPoint"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStats/RevisitTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的重访时间统计值(最小、最大、平均)",
        "description": "ComputeType:Maximum,Minimum,Average  <br>与满意度标准无关  <br>基于所有网格点的静态数值ValueByGridPoint进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FOMInput_ValueByGridPoint"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStats"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/FOM/GridStatsOverTime/RevisitTime": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "覆盖品质: 所有网格点的重访时间统计值(最小、最大、平均)随时间变化",
        "description": "与ComputeType无关  <br>与满意度标准无关  <br>基于所有网格点的动态数值ValueByGridPointAtTime进行统计",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportFOM_GridStatsOverTime"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/Report/CoverageByAsset": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "获取报告: 每个资源对应的覆盖百分比(最小、最大、平均、累计)",
        "description": "与FOM无关  <br>内部使用ReportPercentCoverage类  <br>计算步长影响最小，最大，平均覆盖率的数值，越小越精确，但是程序计算时长会增加",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCoverageByAsset"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCoverageByAsset"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCoverageByAsset"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/Report/PercentCoverage": {
      "post": {
        "tags": [
          "Coverage"
        ],
        "summary": "获取报告: 覆盖百分比(随时间变化的瞬时覆盖百分比和累计覆盖百分比)",
        "description": "与FOM无关  <br>内部使用SatisfactionIntervals属性，此参数对应最小资源数约束的结果",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CoverageInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ReportPercentCoverage"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportPercentCoverage"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportPercentCoverage"
                }
              }
            }
          }
        }
      }
    },
    "/InterfaceClass": {
      "post": {
        "tags": [
          "Interface"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterfaceInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InterfaceInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InterfaceInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/LandingZone": {
      "post": {
        "tags": [
          "LandingZone"
        ],
        "summary": "求解火箭落区边界的大地坐标参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LandingZoneInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LandingZoneInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LandingZoneInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LandingZoneOuput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingZoneOuput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandingZoneOuput"
                }
              }
            }
          }
        }
      }
    },
    "/Lighting/LightingTimes": {
      "post": {
        "tags": [
          "Lighting"
        ],
        "summary": "光照时间计算",
        "description": "考虑DE430,视太阳位置。取代原来的LightingTimesSc和LightingTimesSite <br>若提供遮挡天体列表则使用；否则默认为:日地月中心天体则考虑地月遮挡；其它天体考虑自身中心天体遮挡 <br>飞行器:仅考虑天体遮挡,无地形。地面站:可考虑地形遮挡。 <br>第1个遮挡天体为中心天体 <br>仅考虑光延迟，不考虑光行差,与STK结果一致!",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LightingTimesInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LightingTimesInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LightingTimesInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LightingTimesOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightingTimesOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LightingTimesOut"
                }
              }
            }
          }
        }
      }
    },
    "/Lighting/SolarIntensity": {
      "post": {
        "tags": [
          "Lighting"
        ],
        "summary": "视太阳光照强度参数计算",
        "description": "考虑DE430。取代原来的SolarIntensitySc和SolarIntensitySite. <br>若提供遮挡天体列表则使用；否则默认为:日地月中心天体则考虑地月遮挡；其它天体考虑自身中心天体遮挡 <br>飞行器:仅考虑天体遮挡,无地形。地面站:可考虑地形遮挡。 <br>第1个遮挡天体为中心天体 <br>仅考虑光延迟，不考虑光行差,与STK结果一致!",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolarIntensityInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SolarIntensityInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SolarIntensityInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SolarIntensityOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolarIntensityOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolarIntensityOut"
                }
              }
            }
          }
        }
      }
    },
    "/Lighting/SolarAER": {
      "post": {
        "tags": [
          "Lighting"
        ],
        "summary": "视太阳的AER计算",
        "description": "考虑DE430,方位角, 高度角, 距离 <br>地面站: 方位角:当地水平面,正北为0°，向东为正;         高度角:与当地水平面夹角,天顶为正 <br>飞行器: 方位角:VVLH坐标系(前-右-下),前为0°，右为正;         高度角:与xy平面夹角,天顶为正",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolarAERInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SolarAERInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SolarAERInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SolarAEROut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolarAEROut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SolarAEROut"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitConvert/Kepler2RV": {
      "post": {
        "tags": [
          "OrbitConvert"
        ],
        "summary": "Kepler根数转换位置速度",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/OrbitConvert/RV2Kepler": {
      "post": {
        "tags": [
          "OrbitConvert"
        ],
        "summary": "位置速度转Kepler",
        "description": "最后一个为天体引力常数,可不提供默认为地球。<br> 单位统一即可,例如(km,km/s,km^3/s^2)",
        "requestBody": {
          "description": "位置速度(m,m/s),引力常数(m^3/s^2)",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "number",
                  "format": "double"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "number",
                  "format": "double"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/KeplerElements"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeplerElements"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeplerElements"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitConvert/Kepler2LLAAtAscendNode": {
      "post": {
        "tags": [
          "OrbitConvert"
        ],
        "summary": "Kepler根数升交点处的经纬高",
        "description": "只适用于地球，Kepler根数二体轨道递推,计算升交点处的经纬高(°，m)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElementsWithEpoch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/OrbitConvert/CalGEOYMLambertDv": {
      "post": {
        "tags": [
          "OrbitConvert"
        ],
        "summary": "Lambert转移计算(kepler根数)",
        "description": "根据飞行器Kepler根数、目标Kepler根数、飞行时长，计算Lambert速度增量 <br>返回值: Lambert变轨速度增量（DV1(x,y,z)，dv2(x,y,z)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GEOYMLambertInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GEOYMLambertInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GEOYMLambertInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/OrbitConvert/GetKozaiIzsakMeanElements": {
      "post": {
        "tags": [
          "OrbitConvert"
        ],
        "summary": "瞬根数转平均根数",
        "description": "由瞬时Kepler根数，计算平均根数(近圆轨道，仅考虑J2阶短周期项,KozaiIzsak方法)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/KeplerElements"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MeanKeplerElements"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeanKeplerElements"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeanKeplerElements"
                }
              }
            }
          }
        }
      }
    },
    "/orbit/lambert": {
      "post": {
        "tags": [
          "OrbitCore"
        ],
        "summary": "单圈Lambert方程求解",
        "description": "单圈Lambert方程求解(R.H.Gooding方法),RV1、RV2 均为长度6的倍数的数组,支持多个算例输入,每个算例前三元为位置(m),后三元为速度(m/s)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LambertRhGoodingInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LambertRhGoodingInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LambertRhGoodingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LambertRhGoodingResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LambertRhGoodingResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LambertRhGoodingResult"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitSystem/ConvertCzmlPosition": {
      "post": {
        "tags": [
          "OrbitSystem"
        ],
        "summary": "转换位置速度到目标天体坐标系",
        "description": "转换entity对象位置速度在目标天体坐标系的位置(支持Inertial,Fixed,J2000,ICRF...) <br>采用JplDe430历表;除Earth,Moon外，其它行星的坐标轴采用Iau2015Orientation; <br>对于Earth,Inertial为ICRF,Fixed为ITRF；<br>对于Sun，为Inertial系,即ICRF；<br>对于Moon,其Fixed坐标系为JpleDe430中的Mean Earth坐标轴",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertCzmlPositionInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertCzmlPositionInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertCzmlPositionInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitSystem/EarthMoonLibration": {
      "post": {
        "tags": [
          "OrbitSystem"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitSystem/EarthMoonLibration2": {
      "post": {
        "tags": [
          "OrbitSystem"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionCzml"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionSTMOut"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitWizard/GEO": {
      "post": {
        "tags": [
          "OrbitWizard"
        ],
        "summary": "生成地球同步轨道GEO轨道参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GEO_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GEO_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GEO_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GEO_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GEO_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GEO_Output"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitWizard/Molniya": {
      "post": {
        "tags": [
          "OrbitWizard"
        ],
        "summary": "生成莫尔尼亚Molniya轨道参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Molniya_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Molniya_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Molniya_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Molniya_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Molniya_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Molniya_Output"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitWizard/SSO": {
      "post": {
        "tags": [
          "OrbitWizard"
        ],
        "summary": "生成太阳同步轨道SSO",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SSO_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SSO_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SSO_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SSO_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SSO_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SSO_Output"
                }
              }
            }
          }
        }
      }
    },
    "/OrbitWizard/Walker": {
      "post": {
        "tags": [
          "OrbitWizard"
        ],
        "summary": "Walker星座生成",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Walker_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Walker_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Walker_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Walker_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Walker_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Walker_Output"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/TwoBody": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "二体积分器",
        "description": "给定初始参数，获取二体积分器轨道参数(中心天体Inertial系)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionTwoBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionTwoBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionTwoBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/Ballistic": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "导弹弹道(Ballistic)",
        "description": "仅考虑中心天体的二体轨道(发射点和撞击点的椭圆轨道),发射点和撞击点参数均在Fixed系下",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionBallistic"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionBallistic"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionBallistic"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/J2": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "J2积分器",
        "description": "(J2摄动解析法公式计算,使用EGM2008的Gm,J2,Re参数数值",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionJ2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionJ2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionJ2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/sgp4": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "Sgp4积分器",
        "description": "给定Sgp4两行根数TLE,获取星历参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSGP4"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSGP4"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSGP4"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/SimpleAscent": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "火箭简单上升段弹道(SimpleAscent)",
        "description": "发射点和入轨点的曲线拟合,发射点和关机点参数均在Fixed系下",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSimpleAscent"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSimpleAscent"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionSimpleAscent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/HPOP": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "HPOP积分器",
        "description": "给定HPOP输入参数，获取HPOP积分器轨道参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionHPOP"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionHPOP"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EntityPositionHPOP"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CzmlPositionOut"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/MultiJ2": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "多卫星的J2摄动递推",
        "description": "多卫星的J2摄动递推到同一时刻的轨道参数,仅支持Kepler根数,输入输出均为地球惯性系",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/MultiSgp4": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "多卫星的Sgp4递推",
        "description": "多卫星的Sgp4递推到同一时刻的轨道参数,仅支持Kepler根数,输入输出均为地球惯性系",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSgp4Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSgp4Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSgp4Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSgp4Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSgp4Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSgp4Output"
                }
              }
            }
          }
        }
      }
    },
    "/Propagator/MultiTwoBody": {
      "post": {
        "tags": [
          "Propagator"
        ],
        "summary": "多卫星的二体轨道递推",
        "description": "多卫星的二体轨道递推到同一时刻的轨道参数,仅支持Kepler根数,输入输出均为地球惯性系",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MultiSatesInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiSatesOutput"
                }
              }
            }
          }
        }
      }
    },
    "/Rocket/RocketSegmentFA": {
      "post": {
        "tags": [
          "Rocket"
        ],
        "summary": "火箭方案弹道优化计算",
        "description": "采用飞行段模型，气动力默认使用内置参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketSegmentFA_Input"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketSegmentFA_Input"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RocketSegmentFA_Input"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RocketSegmentFA_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketSegmentFA_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketSegmentFA_Output"
                }
              }
            }
          }
        }
      }
    },
    "/Rocket/RocketLanding": {
      "post": {
        "tags": [
          "Rocket"
        ],
        "summary": "火箭垂直着陆弹道优化计算",
        "description": "分4段,气动力默认使用内置参数",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketLandingInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketLandingInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RocketLandingInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RocketLanding_Output"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketLanding_Output"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketLanding_Output"
                }
              }
            }
          }
        }
      }
    },
    "/Rocket/RocketGuid": {
      "post": {
        "tags": [
          "Rocket"
        ],
        "summary": "火箭制导弹道计算",
        "description": "制导弹道,气动力默认使用内置参数。输入参数首行使用$type符号标记对应的制导类型",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketGuid"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RocketGuid"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RocketGuid"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RocketGuid_Output2"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketGuid_Output2"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RocketGuid_Output2"
                }
              }
            }
          }
        }
      }
    },
    "/Terrain/AzElMask": {
      "post": {
        "tags": [
          "Terrain"
        ],
        "summary": "获取某点的地形遮罩参数",
        "description": "360°的方位角，每个方位角包含不同距离对应的最大仰角  <br>地形服务的参数取自appsettings.json  <br>目前地形数据支持:地球，月球，火星，月球南极  <br>如果为月球南极，则使用.tif地形数据进行遮罩计算  <br>注意:如果TerrainMaskPara为Null，则使用appsettings.json中的缺省配置",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskOut"
                }
              }
            }
          }
        }
      }
    },
    "/Terrain/AzElMaskSimple": {
      "post": {
        "tags": [
          "Terrain"
        ],
        "summary": "获取某点的地形遮罩简化参数",
        "description": "360°的方位角，每个方位角包含不同距离对应的最大仰角  <br>地形服务的参数取自appsettings.json  <br>目前地形数据支持:地球，月球，火星，月球南极  <br>如果为月球南极，则使用.lbl地形数据进行遮罩计算  <br>注意:如果TerrainMaskPara为Null，则使用appsettings.json中的缺省配置",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AzimuthElevationMaskInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskSimpleOut"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskSimpleOut"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AzimuthElevationMaskSimpleOut"
                }
              }
            }
          }
        }
      }
    },
    "/WeatherForecast": {
      "get": {
        "tags": [
          "WeatherForecast"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WeatherForecast"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/satcat": {
      "get": {
        "tags": [
          "DataBase"
        ],
        "summary": "获取satcat.txt文件",
        "description": "从服务器文件夹获取,非实时更新,需手动更新",
        "responses": {
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
[...]
