{"openapi":"3.1.1","info":{"title":"Rocket Web API","description":"火箭算法API","version":"2026-07-24"},"servers":[{"url":"http://astrox.cn:8764/"}],"paths":{"/auth/register":{"post":{"tags":["Auth"],"summary":"用户注册","description":"用户注册接口，接受用户名和密码，成功注册后返回访问令牌和用户信息。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/login":{"post":{"tags":["Auth"],"summary":"用户登录","description":"用户登录接口，接受用户名和密码，成功登录后返回访问令牌和用户信息。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/Rocket/RocketSegmentFA":{"post":{"tags":["Rocket"],"summary":"火箭方案弹道优化计算","description":"采用飞行段模型，气动力默认使用内置参数","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Input2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Input2"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Input2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Output"}},"application/json":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Output"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketSegmentFA_Output"}}}}}}},"/Rocket/RocketGuid":{"post":{"tags":["Rocket"],"summary":"火箭制导弹道计算","description":"制导弹道,气动力默认使用内置参数。输入参数首行使用$type符号标记对应的制导类型","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocketGuid"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketGuid"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RocketGuid"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}},"application/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}}}}}}},"/Rocket/Rocket3JBGuid2":{"post":{"tags":["Rocket"],"summary":"火箭制导弹道计算(CZ-3B)","description":"最初的制导计算,仅适用于CZ-3B","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_3JB2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_3JB2"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RocketGuid_3JB2"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}},"application/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketGuid_Output2"}}}}}}},"/Rocket/Transform":{"post":{"tags":["Rocket"],"summary":"弹道常用坐标转换","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CordTransform_Input"}},"text/json":{"schema":{"$ref":"#/components/schemas/CordTransform_Input"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/CordTransform_Input"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/CordTransform_Output"}},"application/json":{"schema":{"$ref":"#/components/schemas/CordTransform_Output"}},"text/json":{"schema":{"$ref":"#/components/schemas/CordTransform_Output"}}}}}}},"/Rocket/TrajectoryOptim":{"post":{"tags":["Rocket"],"summary":"火箭方案弹道优化(级模型)","description":"采用实际火箭的总体参数和飞行时序，气动力默认使用内置参数。RocketInput 首行使用 $type 标记型号(如 CZ-4B)。GetAllData=true 时返回全程时序 DicAllData。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim_Output"}},"application/json":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim_Output"}},"text/json":{"schema":{"$ref":"#/components/schemas/RocketTrajectoryOptim_Output"}}}}}}},"/Rocket/VerticalLanding":{"post":{"tags":["Rocket"],"summary":"火箭前向垂直着陆弹道优化","description":"从级间分离开始,前向着陆,优化弹道参数以实现垂直着陆","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerticalLandingOptim"}},"text/json":{"schema":{"$ref":"#/components/schemas/VerticalLandingOptim"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/VerticalLandingOptim"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/VerticalLanding_Output"}},"application/json":{"schema":{"$ref":"#/components/schemas/VerticalLanding_Output"}},"text/json":{"schema":{"$ref":"#/components/schemas/VerticalLanding_Output"}}}}}}},"/Rocket/MarsAscentOptim":{"post":{"tags":["Rocket"],"summary":"火星上升段弹道优化","description":"MarsAscentTrajOptim 输入(JSON 同 Test2/MarsAscent/ascent.json)。GetAllData=true 时返回 DicAllData 供动压剖面分析。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim"}},"text/json":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim_Output"}},"application/json":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim_Output"}},"text/json":{"schema":{"$ref":"#/components/schemas/MarsAscentTrajOptim_Output"}}}}}}},"/schemes":{"get":{"tags":["Schemes"],"summary":"获取方案列表","description":"获取当前登录用户保存的全部火箭方案，并按最后更新时间倒序返回方案摘要信息。","responses":{"200":{"description":"OK"}}},"post":{"tags":["Schemes"],"summary":"创建方案","description":"创建一个新的火箭方案，自动解析方案类型、规范化载荷数据，并保存到当前登录用户名下。","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveSchemeRequest"}},"text/json":{"schema":{"$ref":"#/components/schemas/SaveSchemeRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/SaveSchemeRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/schemes/{id}":{"get":{"tags":["Schemes"],"summary":"获取方案详情","description":"根据方案标识获取当前登录用户名下的单个火箭方案详情，返回名称、类型、更新时间和完整载荷数据。","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Schemes"],"summary":"删除方案","description":"删除当前登录用户名下指定的火箭方案；若方案不存在，则返回未找到错误。","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/templates":{"get":{"tags":["Templates"],"summary":"获取模板列表","description":"读取模板目录中的索引文件并返回模板列表；若索引项未提供名称，则尝试从模板文件中的 RocketInput.Name 自动补全。","responses":{"200":{"description":"OK"}}}},"/templates/{filename}":{"get":{"tags":["Templates"],"summary":"获取模板内容","description":"根据模板文件名读取模板目录中的 JSON 文件内容，并以 application/json 形式返回；会校验文件名以防止非法路径访问。","parameters":[{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/WeatherForecast":{"get":{"tags":["WeatherForecast"],"operationId":"GetWeatherForecast","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WeatherForecast"}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WeatherForecast"}}},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WeatherForecast"}}}}}}}}},"components":{"schemas":{"AuthRequest":{"type":"object","properties":{"Username":{"type":["string","null"],"description":"用户名，至少2位"},"Password":{"type":["string","null"],"description":"密码，至少4位"}}},"Control_Optimizer":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否有效"},"Name":{"type":["string","null"],"description":"自变量名称"},"CurrentValue":{"type":"number","description":"当前值","format":"double"},"LowerBound":{"type":"number","description":"下界","format":"double"},"UpperBound":{"type":"number","description":"上界","format":"double"},"Scale":{"type":"number","description":"归一化标尺","format":"double"},"Object":{"type":["string","null"],"description":"自变量所属段名称"}}},"CordTransform_Input":{"type":"object","properties":{"Text":{"type":["string","null"],"description":"说明"},"TransformName":{"type":["string","null"],"description":"坐标转换名称(J2000_Fixed,FaGuan_Fixed...)"},"A0":{"type":"number","description":"发射方位角(deg)(按需设置，涉及到发射系、发惯系)","format":"double"},"SitePosition":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"站点坐标(经度(deg)、大地纬度(deg)、高度(m))(按需设置,涉及到发射系、发惯系)"},"T_qf":{"type":"number","description":"距离火箭起飞时刻(s)(按需设置,涉及到发射系、发惯系)","format":"double"},"UTCG":{"type":["array","null"],"items":{"type":"string"},"description":"UTCG时间数组,(按需设置)"},"Vectors":{"type":["array","null"],"items":{"type":"array","items":{"type":"number","format":"double"}},"description":"转换前的坐标数组([x,y,z]...或[x,y,z,Vx,Vy,Vz])"}}},"CordTransform_Output":{"type":"object","properties":{"IsSuccess":{"type":"boolean","description":"结果(True:成功；FALSE:失败)"},"Message":{"type":["string","null"],"description":"结果信息(主要是存储失败的原因)"},"UTCG":{"type":["array","null"],"items":{"type":"string"},"description":"UTCG时间数组()"},"Vectors":{"type":["array","null"],"items":{"type":"array","items":{"type":"number","format":"double"}},"description":"矢量坐标数组([x,y,z]...或[x,y,z,Vx,Vy,Vz])"}}},"EMCSProfile":{"type":"integer","description":"文件类型:eDifferentialCorrector,eDEOptimizer"},"EMCSProfile2":{"type":"integer"},"IVAMCSProfile":{"type":"object","properties":{"Type":{"$ref":"#/components/schemas/EMCSProfile2"},"IsActive":{"type":"boolean"},"IsIterate":{"type":"boolean"},"VeMCS":{"$ref":"#/components/schemas/IVePropagatorMCS"},"TypeDiscriminator":{"type":["string","null"]},"Name":{"type":["string","null"]},"Text":{"type":["string","null"]}}},"IVePropagatorMCS":{"type":["object","null"]},"MarsAscentTrajOptim":{"type":"object","properties":{"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m>"},"FairingMass":{"type":"number","description":"整流罩质量(kg)","format":"double"},"a1":{"type":"number","description":"转弯快慢系数(越大转弯越快,默认为0.1), 最大攻角出现时刻:0.693/a1 + T1","format":"double"},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Sm":{"type":"number","description":"一级飞行段气动面积(m^2)","format":"double"},"Sa1":{"type":"number","format":"double"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"},"Phicx0":{"type":"number","format":"double"},"PhicxDotHX":{"type":"number","format":"double"},"PhicxDot2":{"type":"number","format":"double"},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂+约0.5kg二级的姿控量)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)(减少约0.5kg的二级姿控量)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)(可用推进剂)(减少约0.5kg的二级姿控量)","format":"double"},"Tk_1":{"type":"number","description":"一级关机时刻(s)(从起飞开始)","format":"double"},"Tk_F":{"type":"number","description":"整流罩分离时刻(s)(从一级关机开始)","format":"double"},"Dt_k12f":{"type":"number","description":"抛罩到一二级分离的时间(s)","format":"double","default":1.2},"Dt_hx":{"type":"number","description":"一二级分离到二级点火时长(s)","format":"double"},"Tk_2":{"type":"number","description":"二级工作时长(s)","format":"double"},"Force2":{"type":"number","format":"double"},"Ips2":{"type":"number","format":"double"},"EngineName1":{"type":["string","null"]},"EngineNameHX":{"type":["string","null"]},"AtmosphereFileName":{"type":["string","null"]},"IsOptimize":{"type":"boolean","description":"是否优化弹道","default":false},"GetAllData":{"type":"boolean","description":"是否获取所有点弹道参数","default":false},"GetKeyData":{"type":"boolean","description":"是否获取特征点弹道参数(每段首末状态)","default":false},"VariableX0":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化自变量初值,若为null则使用当前属性值作为初值"},"VariableLowerBound":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化自变量下界(原始量)"},"VariableUpperBound":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化自变量上界(原始量)"},"VariableScale":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化变量缩放因子s[i]"},"OptimDiffStep":{"type":"number","description":"优化数值差分步长(归一化数值,内部实际步长:diffStep*s[i]","format":"double","default":0.001},"OptimEpsx":{"type":"number","description":"优化自变量收敛精度(归一化数值,内部实际精度:epsx*s[i])","format":"double","default":0.001},"OptimStepMax":{"type":"number","description":"优化自变量最大步长(归一化数值,内部实际步长:stepMax*s[i])","format":"double","default":0.1},"OptimMaxIts":{"type":"integer","description":"优化最大迭代次数，0=不限制","format":"int32","default":0}}},"MarsAscentTrajOptim_Output":{"type":"object","properties":{"IsSuccess":{"type":"boolean","description":"结果(True:成功；False:失败)","default":true},"Message":{"type":["string","null"],"description":"结果信息(失败原因或优化收敛信息)","default":"Success!"},"Tk_2":{"type":"number","format":"double"},"MassTk2":{"type":"number","format":"double"},"MassFuleTk2":{"type":"number","format":"double"},"Q_Tk1":{"type":"number","format":"double"},"OptimTerminationType":{"type":"integer","description":"ALGLIB 收敛状态码(仅 IsOptimize=true 时有效): 2=正常收敛，7=精度达标，-3=约束不可行","format":"int32"},"ConstraintsSatisfied":{"type":"boolean","description":"优化约束是否满足(仅 IsOptimize=true 时有效),只有当gs_r,gs_va,gs_theta,gs_ir均小于1e-3时为true"},"IterationCount":{"type":"integer","description":"实际迭代次数(优化后输出)","format":"int32"},"FvecCount":{"type":"integer","description":"Fvec 调用次数(优化后输出)","format":"int32"},"Optim_X0":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化最优自变量,仅 IsOptimize=true 时有效"},"Optim_Fvec":{"type":["array","null"],"items":{"type":"number","format":"double"}},"DicShiXu":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"飞行时序(每段开始时刻: 段名称、总时间、段时间)"},"DicAllData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"所有点弹道参数"},"DicKeyData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"特征点弹道参数(每段首末状态)"}}},"NullableOfJsonElement":{"nullable":true},"OptimProfile":{"required":["$type"],"type":"object","anyOf":[{"$ref":"#/components/schemas/OptimProfileOptimProfileAlglib"},{"$ref":"#/components/schemas/OptimProfileOptimProfileDC"}],"discriminator":{"propertyName":"$type","mapping":{"AlglibOptimizer":"#/components/schemas/OptimProfileOptimProfileAlglib","DifferentialCorrector":"#/components/schemas/OptimProfileOptimProfileDC"}}},"OptimProfileOptimProfileAlglib":{"properties":{"$type":{"enum":["AlglibOptimizer"],"type":"string"},"DiffStep":{"type":"number","description":"数值差分步长(归一化数值)","format":"double"},"EpsX":{"type":"number","description":"自变量收敛精度(归一化数值)","format":"double"},"StepMax":{"type":"number","description":"自变量最大步长(归一化数值,0表示不限制)","format":"double"},"MaxIts":{"type":"integer","description":"最大迭代次数(0=不限制)","format":"int32"},"Controls":{"type":["array","null"],"items":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否有效"},"Name":{"type":["string","null"],"description":"自变量名称"},"CurrentValue":{"type":"number","description":"当前值","format":"double"},"LowerBound":{"type":"number","description":"下界","format":"double"},"UpperBound":{"type":"number","description":"上界","format":"double"},"Scale":{"type":"number","description":"归一化标尺(默认值=1.0):若原始数值为1000量级则设1000","format":"double"},"Object":{"type":["string","null"],"description":"自变量所属段名称"}}},"description":"自变量表格"},"Results":{"type":["array","null"],"items":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否有效"},"Name":{"type":["string","null"],"description":"名称"},"CurrentValue":{"type":"number","description":"当前值","format":"double"},"DesiredValue":{"type":"number","description":"要求值","format":"double"},"Scale":{"type":"number","description":"归一化标尺(默认值=1.0):若原始数值为1000量级则设1000","format":"double"},"Object":{"type":["string","null"],"description":"约束函数所属段名称"},"Goal":{"type":["string","null"],"description":"优化目标(Equality/Minimize/Maximize)"},"DltFG":{"type":"number","description":"约束当前值与要求值的差","format":"double"},"Tolerance":{"type":"number","description":"误差裕度(原始量纲,默认值=0.01),仅作优化后是否满足收敛使用,不参与优化计算","format":"double"}}},"description":"约束表格(目标函数与约束)"},"OptimX":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化后:自变量(原始量)"},"OptimFG":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"优化后:目标函数与约束残差(归一化)"},"Converged":{"type":"boolean","description":"求解是否收敛(优化后输出,所有约束残差小于阈值)"},"OptimTerminationType":{"type":"integer","description":"ALGLIB 收敛状态码(2=正常收敛，7=精度达标，-3=约束不可行, 0=未优化)","format":"int32"},"IterationCount":{"type":"integer","description":"实际迭代次数(优化后输出)","format":"int32"},"FvecCount":{"type":"integer","description":"Fvec 调用次数(优化后输出)","format":"int32"},"Name":{"type":["string","null"],"description":"弹道优化控制文件名称"},"Text":{"type":["string","null"],"description":"弹道优化控制文件说明"},"IsActive":{"type":"boolean","description":"本控制文件是否有效，false时则不运行本控制文件"},"IsIterate":{"type":"boolean","description":"是否循环(true=运行优化, false=仅按当前自变量计算一次)"}}},"OptimProfileOptimProfileDC":{"properties":{"$type":{"enum":["DifferentialCorrector"],"type":"string"},"MaxIts":{"type":"integer","description":"最大迭代次数","format":"int32"},"Controls":{"type":["array","null"],"items":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否使用"},"Name":{"type":["string","null"],"description":"自变量名称"},"CurrentValue":{"type":"number","description":"当前值(原始量纲)","format":"double"},"DiffStep":{"type":"number","description":"微分步长(原始量纲)","format":"double"},"StepMax":{"type":"number","description":"步长最大值(原始量纲)","format":"double"},"Scale":{"type":"number","description":"归一化标尺(默认值=1.0):若原始数值为1000量级则设0.001。","format":"double"},"Object":{"type":["string","null"],"description":"段名称"}}},"description":"自变量表格"},"Results":{"type":["array","null"],"items":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否使用"},"Name":{"type":["string","null"],"description":"约束名称"},"CurrentValue":{"type":"number","description":"当前值(优化后更新)","format":"double"},"DesiredValue":{"type":"number","description":"要求值(原始量纲)","format":"double"},"Tolerance":{"type":"number","description":"误差裕度(原始量纲)","format":"double"},"Scale":{"type":"number","description":"归一化标尺(默认值=1.0):如原始数值为1e6量级则设1e-6。","format":"double"},"Object":{"type":["string","null"],"description":"段名称"},"DltFG":{"type":"number","description":"差值(原始量纲):实际值-要求值,(优化后输出,微分迭代函数不使用)","format":"double"}}},"description":"约束表格"},"Converged":{"type":"boolean","description":"求解是否收敛(优化后输出,所有约束残差小于阈值)"},"IterationCount":{"type":"integer","description":"实际迭代次数(优化后输出)","format":"int32"},"OptimX":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"最优自变量(归一化),优化后输出"},"OptimF":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"约束残差值(归一化),优化后输出"},"Name":{"type":["string","null"],"description":"弹道优化控制文件名称"},"Text":{"type":["string","null"],"description":"弹道优化控制文件说明"},"IsActive":{"type":"boolean","description":"本控制文件是否有效，false时则不运行本控制文件"},"IsIterate":{"type":"boolean","description":"是否循环(true=运行优化, false=仅按当前自变量计算一次)"}}},"Result_Optimizer":{"type":"object","properties":{"Use":{"type":"boolean","description":"是否有效"},"Name":{"type":["string","null"],"description":"名称"},"CurrentValue":{"type":"number","description":"当前值","format":"double"},"DesiredValue":{"type":"number","description":"要求值","format":"double"},"Scale":{"type":"number","description":"归一化标尺","format":"double"},"Object":{"type":["string","null"],"description":"约束函数所属段名称"},"Goal":{"type":["string","null"],"description":"优化目标(Equality/Minimize/Maximize)"},"DltFG":{"type":"number","description":"约束当前值与要求值的差","format":"double"}}},"RocketEngine":{"type":"object","properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}}},"RocketEngineCluster":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机族名称"},"Text":{"type":["string","null"],"description":"发动机族说明"},"Groups":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketEngine"},"description":"发动机族列表"}},"description":"再入点火段发动机"},"RocketEngineCluster2":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机族名称"},"Text":{"type":["string","null"],"description":"发动机族说明"},"Groups":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketEngine"},"description":"发动机族列表"}},"description":"着陆段发动机"},"RocketGuid":{"required":["$type"],"type":"object","anyOf":[{"$ref":"#/components/schemas/RocketGuidRocketGuid_CZ2CD"},{"$ref":"#/components/schemas/RocketGuidRocketGuid_CZ4BC"},{"$ref":"#/components/schemas/RocketGuidRocketGuid_CZ3BC"},{"$ref":"#/components/schemas/RocketGuidRocketGuid_CZ7A"},{"$ref":"#/components/schemas/RocketGuidRocketGuid_KZ1A"}],"discriminator":{"propertyName":"$type","mapping":{"CZ2CD":"#/components/schemas/RocketGuidRocketGuid_CZ2CD","CZ4BC":"#/components/schemas/RocketGuidRocketGuid_CZ4BC","CZ3BC":"#/components/schemas/RocketGuidRocketGuid_CZ3BC","CZ7A":"#/components/schemas/RocketGuidRocketGuid_CZ7A","KZ1A":"#/components/schemas/RocketGuidRocketGuid_KZ1A"}}},"RocketGuid_3JB2":{"type":"object","properties":{"Name":{"type":["string","null"],"description":"名称"},"Text":{"type":["string","null"],"description":"说明"},"Description":{"type":["string","null"],"description":"详细描述"},"PC":{"$ref":"#/components/schemas/RocketPianCha_3JB"},"Is32k":{"type":"boolean","description":"是否有三级二次工作"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"二级主机关机速度数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)","format":"double"},"GJ_Sma1":{"type":"number","description":"三级一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"三级二次关机半长轴数值(m)","format":"double"},"Guid_RV_2k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"二级主机关机点制导位置、速度(地心发惯系)"},"Guid_RV_3k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级一次关机点制导位置、速度(地心发惯系)"},"Guid_RV_32k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级二次关机点制导位置、速度(地心发惯系)"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"Sm_1b":{"type":"number","description":"一级带助推横截面积(m^2)","format":"double"},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double"},"Tk_b":{"type":"number","description":"助推器关机时刻(s)","format":"double"},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(射程关机/耗尽关机 均未实现，强制关机)","format":"double","default":180},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double"},"Tk_2z":{"type":"number","description":"二级起飞至主机关机最大时长(s)(速度关机/耗尽关机 均未实现，强制关机)","format":"double","default":200},"Tk_2u":{"type":"number","description":"二级主机关机到游机关机时长(s)","format":"double"},"Tk_31":{"type":"number","description":"三级起飞至一次关机最大时刻(s)(半长轴关机/耗尽关机 均为实现，强制关机)","format":"double","default":300},"Tk_32":{"type":"number","description":"三级二次开机至关机最大时刻(s)(半长轴关机/耗尽关机 均未实现，强制关机)","format":"double","default":230},"dt_booster":{"type":"number","description":"助推器关机至分离(s),缺省1.5s","format":"double","default":1.5},"dt_k12f":{"type":"number","description":"一级关机到分离(s),缺省1.5s","format":"double","default":1.5},"dt_k23f":{"type":"number","description":"二级游机关机到分离(s),缺省1.0s","format":"double","default":1},"dt_msxz":{"type":"number","description":"三级一次或二次关机后末速修正时长(s),缺省20s","format":"double","default":20},"dt_xjfl":{"type":"number","description":"三级末速修正结束到星箭分离时长(s),缺省80s","format":"double","default":80},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double"},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double"},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double"},"F_2":{"type":"number","description":"二级主机总真空推力(N)","format":"double"},"Ips_2":{"type":"number","description":"二级主机真空比冲(m/s)","format":"double"},"F_2u":{"type":"number","description":"二级游机总真空推力(N)","format":"double"},"Ips_2u":{"type":"number","description":"二级游机真空比冲(m/s)","format":"double"},"F_3":{"type":"number","description":"三级总真空推力(N)","format":"double"},"Ips_3":{"type":"number","description":"三级真空比冲(m/s)","format":"double"},"F_b":{"type":"number","description":"一级助推总海平面推力(N)","format":"double"},"Ips_b":{"type":"number","description":"一级助推海平面比冲(m/s)","format":"double"},"Sa_b":{"type":"number","description":"一级助推发动机总喷口面积(m^2)","format":"double"},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)","format":"double"},"M0_b":{"type":"number","description":"所有助推器起飞质量(kg)","format":"double"},"Mj_b":{"type":"number","description":"所有助推器关机点质量(kg)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"M0_3":{"type":"number","description":"仅三级起飞质量(kg)","format":"double"},"Mj_3":{"type":"number","description":"仅三级关机点质量(kg)","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"一级飞行段俯仰程序角时间序列(s)"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"一级飞行段俯仰程序角序列(deg)"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"一级飞行段偏航程序角时间序列(s),缺省可不赋值"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"一级飞行段偏航俯仰程序角序列(deg)"}}},"RocketGuid_Output2":{"type":"object","properties":{"IsSuccess":{"type":"boolean","description":"结果(True:成功；FALSE:失败)"},"Message":{"type":["string","null"],"description":"结果信息(主要是存储失败的原因)"},"GuanJiFangCheng":{"type":["object","null"],"additionalProperties":{"type":"integer","format":"int32"},"description":"实际关机方程(GJFC_1k/GJFC_2k/GJFC_3k, 0为正常关机,1为耗尽关机,2为定时关机)"},"Delta_dL":{"type":"number","description":"一级射程关机偏差(km)","format":"double"},"Delta_Va":{"type":"number","description":"二级关机速度偏差(m/s)","format":"double"},"Delta_Sma1":{"type":"number","description":"(三级)一次关机半长轴偏差(km)","format":"double"},"Delta_Sma2":{"type":"number","description":"(三级)二次关机半长轴偏差(km),若无二次关机则忽略此参数","format":"double"},"Delta_Elm3k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"(三级)一次关机轨道根数偏差(sma,ecc,inc,raan,omg,f,u)(单位:km,deg)"},"Delta_Elm32k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"(三级)二次关机轨道根数偏差(sma,ecc,inc,raan,omg,f,u)(单位:km,deg)。若无二次关机则忽略此参数"},"DicAllData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"所有点弹道参数"},"DicAllDataZJ":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":"array"}},"description":"所有子级的弹道参数"},"DicKeyData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"特征点弹道参数(每一段的开始、结束时刻所有弹道数据,其中开始数据与上一段的结束时刻相同)"},"DicKeyData2":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"特征点弹道参数2(每一段的开始参数，适用于飞行时序)"},"ZJLD":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketZJLDInfo"},"description":"所有子级落点表"}}},"RocketGuidRocketGuid_CZ2CD":{"properties":{"$type":{"enum":["CZ2CD"],"type":"string"},"PC":{"type":["object","null"],"properties":{"IsFairingFenLi":{"type":"boolean","description":"整流罩是否分离(true:分离)","default":true},"M0_1":{"type":"number","description":"芯一级起飞质量偏差(0.1表示10%)","format":"double"},"M0_2":{"type":"number","description":"芯二级起飞质量偏差(0.1表示10%)","format":"double"},"T_F1":{"type":"number","description":"一级主机故障时刻(s)(起飞时刻为0点）","format":"double"},"T_F2":{"type":"number","description":"二级主机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F2u":{"type":"number","description":"二级游机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"F_1":{"type":"number","description":"芯一级推力偏差(0.1表示10%)","format":"double"},"F_2":{"type":"number","description":"二级主机推力偏差(0.1表示10%)","format":"double"},"F_2u":{"type":"number","description":"二级游机推力偏差(0.1表示10%)","format":"double"},"Ips_1":{"type":"number","description":"芯一级比冲偏差(0.1表示10%)","format":"double"},"Ips_2":{"type":"number","description":"二级主机比冲偏差(0.1表示10%)","format":"double"},"Ips_2u":{"type":"number","description":"二级游机比冲偏差(0.1表示10%)","format":"double"}},"description":"制导偏差量(若无偏差，可不赋值。注意，偏差量包含所有参数，若对应的火箭没有对应的偏差参数可不用赋值"},"Guid_RV_2z":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"二级主机关机点制导位置、速度(地心发惯系)"},"Guid_RV_2u":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"游机关机点制导位置、速度(地心发惯系)"},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double","default":8.814},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(射程关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double"},"Tk_2z":{"type":"number","description":"二级起飞至主机关机最大时长(s)(速度关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_2u":{"type":"number","description":"二级主机关机到游机关机时长(s)","format":"double"},"dt_k12f":{"type":"number","description":"一级关机到分离(s),缺省1.5s","format":"double"},"dt_xjfl":{"type":"number","description":"二级游机关机到星箭分离(s),缺省32s","format":"double"},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double","default":2961600},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double","default":2550},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double","default":6.486},"F_2":{"type":"number","description":"二级主机总真空推力(N)","format":"double","default":742040},"Ips_2":{"type":"number","description":"二级主机真空比冲(m/s)","format":"double","default":2922.4},"F_2u":{"type":"number","description":"二级游机总真空推力(N)","format":"double","default":47100},"Ips_2u":{"type":"number","description":"二级游机真空比冲(m/s)","format":"double","default":2834},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)(耗尽关机使用)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"Name":{"type":["string","null"],"description":"火箭制导方案名称"},"Text":{"type":["string","null"],"description":"方案说明"},"Description":{"type":["string","null"],"description":"详细描述"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称(若未赋值，则采用FaSheDianLLA参数)"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"(二级)速度关机数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)。若无则不用赋值","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)。若无则不用赋值","format":"double"},"GJ_Sma1":{"type":"number","description":"(三级)一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"(三级)二次关机半长轴数值(m)。若无二次关机则不用赋值","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角时间序列(s),以起飞时刻为零点"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角序列(deg),以起飞时刻为零点"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角时间序列(s),缺省可不赋值,以起飞时刻为零点"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角序列(deg),缺省可不赋值,以起飞时刻为零点"},"ReturnDicAllData":{"type":"boolean","description":"是否返回全部数据表(数据量较大),默认为true","default":true}}},"RocketGuidRocketGuid_CZ3BC":{"properties":{"$type":{"enum":["CZ3BC"],"type":"string"},"PC":{"$ref":"#/components/schemas/RocketPianCha_3JB"},"Is32k":{"type":"boolean","description":"是否有三级二次工作"},"Guid_RV_2k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"二级主机关机点制导位置、速度(地心发惯系)"},"Guid_RV_3k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级一次关机点制导位置、速度(地心发惯系)"},"Guid_RV_32k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级二次关机点制导位置、速度(地心发惯系)"},"Sm_1b":{"type":"number","description":"一级带助推横截面积(m^2)","format":"double","default":17.628},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double","default":8.814},"Tk_b":{"type":"number","description":"助推器关机时刻(s)","format":"double"},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(射程关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double"},"Tk_2z":{"type":"number","description":"二级起飞至主机关机最大时长(s)(速度关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_2u":{"type":"number","description":"二级主机关机到游机关机时长(s)","format":"double"},"Tk_31":{"type":"number","description":"三级起飞至一次关机最大时刻(s)(半长轴关机/耗尽关机 均为实现，强制关机)","format":"double"},"Tk_32":{"type":"number","description":"三级二次开机至关机最大时刻(s)(半长轴关机/耗尽关机 均未实现，强制关机)","format":"double"},"dt_booster":{"type":"number","description":"助推器关机至分离(s),缺省1.5s","format":"double","default":1.5},"dt_k12f":{"type":"number","description":"一级关机到分离(s),缺省1.5s","format":"double","default":1.5},"dt_k23f":{"type":"number","description":"二级游机关机到分离(s),缺省1.0s","format":"double","default":1},"dt_msxz":{"type":"number","description":"三级一次或二次关机后末速修正时长(s),缺省20s","format":"double","default":20},"dt_xjfl":{"type":"number","description":"三级末速修正结束到星箭分离时长(s),缺省80s","format":"double","default":80},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double","default":2961600},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double","default":2556.2},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double","default":3.244},"F_2":{"type":"number","description":"二级主机总真空推力(N)","format":"double","default":742040},"Ips_2":{"type":"number","description":"二级主机真空比冲(m/s)","format":"double","default":2922.4},"F_2u":{"type":"number","description":"二级游机总真空推力(N)","format":"double","default":46800},"Ips_2u":{"type":"number","description":"二级游机真空比冲(m/s)","format":"double","default":2834},"F_3":{"type":"number","description":"三级总真空推力(N)","format":"double","default":156906},"Ips_3":{"type":"number","description":"三级真空比冲(m/s)","format":"double","default":4334.54},"F_b":{"type":"number","description":"一级助推总海平面推力(N)","format":"double","default":2961600},"Ips_b":{"type":"number","description":"一级助推海平面比冲(m/s)","format":"double","default":2556.2},"Sa_b":{"type":"number","description":"一级助推发动机总喷口面积(m^2)","format":"double","default":3.244},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)","format":"double"},"M0_b":{"type":"number","description":"所有助推器起飞质量(kg)","format":"double"},"Mj_b":{"type":"number","description":"所有助推器关机点质量(kg)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"M0_3":{"type":"number","description":"仅三级起飞质量(kg)","format":"double"},"Mj_3":{"type":"number","description":"仅三级关机点质量(kg)","format":"double"},"Name":{"type":["string","null"],"description":"火箭制导方案名称"},"Text":{"type":["string","null"],"description":"方案说明"},"Description":{"type":["string","null"],"description":"详细描述"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称(若未赋值，则采用FaSheDianLLA参数)"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"(二级)速度关机数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)。若无则不用赋值","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)。若无则不用赋值","format":"double"},"GJ_Sma1":{"type":"number","description":"(三级)一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"(三级)二次关机半长轴数值(m)。若无二次关机则不用赋值","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角时间序列(s),以起飞时刻为零点"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角序列(deg),以起飞时刻为零点"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角时间序列(s),缺省可不赋值,以起飞时刻为零点"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角序列(deg),缺省可不赋值,以起飞时刻为零点"},"ReturnDicAllData":{"type":"boolean","description":"是否返回全部数据表(数据量较大),默认为true","default":true}}},"RocketGuidRocketGuid_CZ4BC":{"properties":{"$type":{"enum":["CZ4BC"],"type":"string"},"PC":{"type":["object","null"],"properties":{"IsFairingFenLi":{"type":"boolean","description":"整流罩是否分离(true:分离)","default":true},"M0_1":{"type":"number","description":"芯一级起飞质量偏差(0.1表示10%)","format":"double"},"M0_2":{"type":"number","description":"芯二级起飞质量偏差(0.1表示10%)","format":"double"},"M0_3":{"type":"number","description":"芯三级起飞质量偏差(0.1表示10%)","format":"double"},"T_F1":{"type":"number","description":"一级主机故障时刻(s)(起飞时刻为0点）","format":"double"},"T_F2":{"type":"number","description":"二级主机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F2u":{"type":"number","description":"二级游机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F3":{"type":"number","description":"三级主机故障时刻(s)(三级起飞时刻为0点）","format":"double"},"F_1":{"type":"number","description":"芯一级推力偏差(0.1表示10%)","format":"double"},"F_2":{"type":"number","description":"二级主机推力偏差(0.1表示10%)","format":"double"},"F_2u":{"type":"number","description":"二级游机推力偏差(0.1表示10%)","format":"double"},"F_3":{"type":"number","description":"三级推力偏差(0.1表示10%)","format":"double"},"Ips_1":{"type":"number","description":"芯一级比冲偏差(0.1表示10%)","format":"double"},"Ips_2":{"type":"number","description":"二级主机比冲偏差(0.1表示10%)","format":"double"},"Ips_2u":{"type":"number","description":"二级游机比冲偏差(0.1表示10%)","format":"double"},"Ips_3":{"type":"number","description":"三级比冲偏差(0.1表示10%)","format":"double"}},"description":"制导偏差量(若无偏差，可不赋值。注意，偏差量包含所有参数，若对应的火箭没有对应的偏差参数可不用赋值"},"Is32k":{"type":"boolean","description":"是否有三级二次工作(若无三级二次工作，则不赋值，默认为false)"},"Guid_RV_2k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"二级主机关机点制导位置、速度(地心发惯系)"},"Guid_RV_3k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级一次关机点制导位置、速度(地心发惯系)"},"Guid_RV_32k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级二次关机点制导位置、速度(地心发惯系),若无则不赋值"},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double","default":8.814},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(射程关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double"},"Tk_2z":{"type":"number","description":"二级起飞至主机关机最大时长(s)(速度关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_2u":{"type":"number","description":"二级主机关机到游机关机时长(s)，默认为9.8s","format":"double"},"Tk_31":{"type":"number","description":"三级起飞至一次关机最大时刻(s)(半长轴关机/耗尽关机 均为实现，强制关机)","format":"double"},"Tk_32":{"type":"number","description":"三级二次开机至关机最大时刻(s)(半长轴关机/耗尽关机 均未实现，强制关机)","format":"double"},"dt_k12f":{"type":"number","description":"一级关机到分离(s),缺省1.5s","format":"double"},"dt_k23f":{"type":"number","description":"二级游机关机到分离(s),缺省1.0s","format":"double"},"dt_msxz":{"type":"number","description":"三级一次或二次关机后末速修正时长(s),缺省20s","format":"double","default":20},"dt_xjfl":{"type":"number","description":"三级末速修正结束到星箭分离时长(s),缺省80s","format":"double","default":80},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double","default":2961600},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double","default":2550},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double","default":6.486},"F_2":{"type":"number","description":"二级主机总真空推力(N)","format":"double","default":742040},"Ips_2":{"type":"number","description":"二级主机真空比冲(m/s)","format":"double","default":2942},"F_2u":{"type":"number","description":"二级游机总真空推力(N)","format":"double","default":46100},"Ips_2u":{"type":"number","description":"二级游机真空比冲(m/s)","format":"double","default":2761.6},"F_3":{"type":"number","description":"三级总真空推力(N)","format":"double","default":100848},"Ips_3":{"type":"number","description":"三级真空比冲(m/s)","format":"double","default":2971},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)(耗尽关机使用)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"M0_3":{"type":"number","description":"仅三级起飞质量(kg)(若无三级，则不赋值，默认为0)","format":"double"},"Mj_3":{"type":"number","description":"仅三级关机点质量(kg)(若无三级，则不赋值，默认为0)","format":"double"},"Name":{"type":["string","null"],"description":"火箭制导方案名称"},"Text":{"type":["string","null"],"description":"方案说明"},"Description":{"type":["string","null"],"description":"详细描述"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称(若未赋值，则采用FaSheDianLLA参数)"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"(二级)速度关机数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)。若无则不用赋值","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)。若无则不用赋值","format":"double"},"GJ_Sma1":{"type":"number","description":"(三级)一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"(三级)二次关机半长轴数值(m)。若无二次关机则不用赋值","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角时间序列(s),以起飞时刻为零点"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角序列(deg),以起飞时刻为零点"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角时间序列(s),缺省可不赋值,以起飞时刻为零点"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角序列(deg),缺省可不赋值,以起飞时刻为零点"},"ReturnDicAllData":{"type":"boolean","description":"是否返回全部数据表(数据量较大),默认为true","default":true}}},"RocketGuidRocketGuid_CZ7A":{"properties":{"$type":{"enum":["CZ7A"],"type":"string"},"PC":{"type":["object","null"],"properties":{"IsFairingFenLi":{"type":"boolean","description":"整流罩是否分离(true:分离)","default":true},"M0_1":{"type":"number","description":"芯一级起飞质量偏差(0.1表示10%)","format":"double"},"M0_2":{"type":"number","description":"芯二级起飞质量偏差(0.1表示10%)","format":"double"},"M0_3":{"type":"number","description":"芯三级起飞质量偏差(0.1表示10%)","format":"double"},"T_F1":{"type":"number","description":"一级主机故障时刻(s)(起飞时刻为0点）","format":"double"},"T_F2":{"type":"number","description":"二级主机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F3":{"type":"number","description":"三级主机故障时刻(s)(三级起飞时刻为0点）","format":"double"},"F_1":{"type":"number","description":"芯一级推力偏差(0.1表示10%)","format":"double"},"F_2":{"type":"number","description":"二级主机推力偏差(0.1表示10%)","format":"double"},"F_3":{"type":"number","description":"三级推力偏差(0.1表示10%)","format":"double"},"Ips_1":{"type":"number","description":"芯一级比冲偏差(0.1表示10%)","format":"double"},"Ips_2":{"type":"number","description":"二级主机比冲偏差(0.1表示10%)","format":"double"},"Ips_3":{"type":"number","description":"三级比冲偏差(0.1表示10%)","format":"double"}},"description":"制导偏差量(若无偏差，可不赋值。注意，偏差量包含所有参数，若对应的火箭没有对应的偏差参数可不用赋值"},"Is32k":{"type":"boolean","description":"是否有三级二次工作(若无三级二次工作，则不赋值，默认为false)"},"Guid_RV_2k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"二级主机关机点制导位置、速度(地心发惯系)"},"Guid_RV_3k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级一次关机点制导位置、速度(地心发惯系)"},"Guid_RV_32k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"三级二次关机点制导位置、速度(地心发惯系),若无则不赋值"},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double","default":8.814},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(射程关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double"},"Tk_2":{"type":"number","description":"二级起飞至关机最大时长(s)(速度关机/耗尽关机 均未实现，强制关机)","format":"double"},"Tk_31":{"type":"number","description":"三级起飞至一次关机最大时刻(s)(半长轴关机/耗尽关机 均为实现，强制关机)","format":"double"},"Tk_32":{"type":"number","description":"三级二次开机至关机最大时刻(s)(半长轴关机/耗尽关机 均未实现，强制关机)","format":"double"},"dt_k12f":{"type":"number","description":"一级关机到分离(s)","format":"double","default":1.5},"dt_k23f":{"type":"number","description":"二级游机关机到分离(s)","format":"double","default":1},"dt_msxz":{"type":"number","description":"三级一次或二次关机后末速修正时长(s)","format":"double","default":20},"dt_xjfl":{"type":"number","description":"三级末速修正结束到星箭分离时长(s)","format":"double","default":80},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double","default":7200000},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double","default":2942},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double","default":8.436},"F_2":{"type":"number","description":"二级主机总真空推力(N)","format":"double","default":720000},"Ips_2":{"type":"number","description":"二级主机真空比冲(m/s)","format":"double","default":3349},"F_3":{"type":"number","description":"三级总真空推力(N)","format":"double","default":165410},"Ips_3":{"type":"number","description":"三级真空比冲(m/s)","format":"double","default":4295.3},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)(耗尽关机使用)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"M0_3":{"type":"number","description":"仅三级起飞质量(kg)(若无三级，则不赋值，默认为0)","format":"double"},"Mj_3":{"type":"number","description":"仅三级关机点质量(kg)(若无三级，则不赋值，默认为0)","format":"double"},"Name":{"type":["string","null"],"description":"火箭制导方案名称"},"Text":{"type":["string","null"],"description":"方案说明"},"Description":{"type":["string","null"],"description":"详细描述"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称(若未赋值，则采用FaSheDianLLA参数)"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"(二级)速度关机数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)。若无则不用赋值","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)。若无则不用赋值","format":"double"},"GJ_Sma1":{"type":"number","description":"(三级)一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"(三级)二次关机半长轴数值(m)。若无二次关机则不用赋值","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角时间序列(s),以起飞时刻为零点"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角序列(deg),以起飞时刻为零点"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角时间序列(s),缺省可不赋值,以起飞时刻为零点"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角序列(deg),缺省可不赋值,以起飞时刻为零点"},"ReturnDicAllData":{"type":"boolean","description":"是否返回全部数据表(数据量较大),默认为true","default":true}}},"RocketGuidRocketGuid_KZ1A":{"properties":{"$type":{"enum":["KZ1A"],"type":"string"},"PC":{"type":["object","null"],"properties":{"M0_1":{"type":"number","description":"芯一级起飞质量偏差(0.1表示10%)","format":"double"},"M0_2":{"type":"number","description":"芯二级起飞质量偏差(0.1表示10%)","format":"double"},"M0_3":{"type":"number","description":"芯三级起飞质量偏差(0.1表示10%)","format":"double"},"M0_4":{"type":"number","description":"芯四级起飞质量偏差(0.1表示10%)","format":"double"},"F_1":{"type":"number","description":"芯一级推力偏差(0.1表示10%)","format":"double"},"F_2":{"type":"number","description":"二级主机推力偏差(0.1表示10%)","format":"double"},"F_3":{"type":"number","description":"三级推力偏差(0.1表示10%)","format":"double"},"F_4":{"type":"number","description":"四级推力偏差(0.1表示10%)","format":"double"},"Ips_1":{"type":"number","description":"芯一级比冲偏差(0.1表示10%)","format":"double"},"Ips_2":{"type":"number","description":"二级主机比冲偏差(0.1表示10%)","format":"double"},"Ips_3":{"type":"number","description":"三级比冲偏差(0.1表示10%)","format":"double"},"Ips_4":{"type":"number","description":"四级比冲偏差(0.1表示10%)","format":"double"}},"description":"制导偏差量(若无偏差，可不赋值。注意，偏差量包含所有参数，若对应的火箭没有对应的偏差参数可不用赋值"},"Guid_RV_4k":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"四级关机点制导位置、速度(地心发惯系)"},"Sm_1":{"type":"number","description":"芯一级横截面积(m^2)","format":"double","default":8.814},"Tk_1":{"type":"number","description":"一级最大关机时刻(s)(目前设定为定时关机)","format":"double","default":65},"Tk_2":{"type":"number","description":"二级点火至关机最大时长(s)(目前设定为定时关机)","format":"double","default":62},"Tk_F":{"type":"number","description":"二级起飞至抛罩时长(s)","format":"double","default":15.1},"Tk_3":{"type":"number","description":"三级点火至关机最大时刻(s)(目前设定为定时关机)","format":"double","default":55},"Tk_4":{"type":"number","description":"四级点火至关机最大时刻(s)(目前设定为半长轴关机)","format":"double","default":765},"dt_k12f":{"type":"number","description":"一级关机到分离(s)","format":"double","default":18},"dt_k23f":{"type":"number","description":"二级关机到分离(s)","format":"double","default":16},"dt_F":{"type":"number","description":"二三级分离到抛整流罩(s)","format":"double","default":15.1},"dt_3ign":{"type":"number","description":"抛整流罩到三级点火(s)","format":"double","default":16},"dt_k34f":{"type":"number","description":"三级关机到分离(s)","format":"double","default":37.1},"dt_xjfl":{"type":"number","description":"四级关机到星箭分离(s)","format":"double","default":8},"F_1":{"type":"number","description":"芯一级总海平面推力(N)","format":"double","default":600000},"Ips_1":{"type":"number","description":"芯一级海平面比冲(m/s)","format":"double","default":2352},"Sa_1":{"type":"number","description":"芯一级发动机总喷口面积(m^2)","format":"double","default":0.5},"F_2":{"type":"number","description":"二级海平面推力(N)","format":"double","default":353696},"Ips_2":{"type":"number","description":"二级海平面比冲(m/s)","format":"double","default":2810},"F_3":{"type":"number","description":"三级真空推力(N)","format":"double","default":145479},"Ips_3":{"type":"number","description":"三级真空比冲(m/s)","format":"double","default":2850},"F_4":{"type":"number","description":"四级真空推力(N)","format":"double","default":2000},"Ips_4":{"type":"number","description":"四级真空比冲(m/s)","format":"double","default":3000},"M0_1":{"type":"number","description":"仅芯一级起飞质量(kg)","format":"double"},"M0_2":{"type":"number","description":"仅二级起飞质量(kg)","format":"double"},"M0_3":{"type":"number","description":"仅三级起飞质量(kg)","format":"double"},"M0_4":{"type":"number","description":"仅四级起飞质量(kg)","format":"double"},"Mj_1":{"type":"number","description":"仅芯一级关机点质量(kg)","format":"double"},"Mj_2":{"type":"number","description":"仅二级关机点质量(kg)","format":"double"},"Mj_3":{"type":"number","description":"仅三级关机点质量(kg)","format":"double"},"Mj_4":{"type":"number","description":"仅四级关机点质量(kg)","format":"double"},"phicx3_dot":{"type":"number","description":"三级点火程序角速度(deg/s)","format":"double","default":0},"Name":{"type":["string","null"],"description":"火箭制导方案名称"},"Text":{"type":["string","null"],"description":"方案说明"},"Description":{"type":["string","null"],"description":"详细描述"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称(若未赋值，则采用FaSheDianLLA参数)"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"Gf":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)","format":"double"},"GJ_dL":{"type":"number","description":"一级关机射程数值(m)","format":"double"},"GJ_Va":{"type":"number","description":"(二级)速度关机数值(m/s)","format":"double"},"GJ_U":{"type":"number","description":"三级滑行段结束纬度俯角(deg)。若无则不用赋值","format":"double"},"GJ_PhicxDotHx":{"type":"number","description":"三级滑行段俯仰程序角变化率(deg)。若无则不用赋值","format":"double"},"GJ_Sma1":{"type":"number","description":"(三级)一次关机半长轴数值(m)","format":"double"},"GJ_Sma2":{"type":"number","description":"(三级)二次关机半长轴数值(m)。若无二次关机则不用赋值","format":"double"},"TList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角时间序列(s),以起飞时刻为零点"},"PhicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段俯仰程序角序列(deg),以起飞时刻为零点"},"TList_psi":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角时间序列(s),缺省可不赋值,以起飞时刻为零点"},"PsicxList":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"大气飞行段偏航程序角序列(deg),缺省可不赋值,以起飞时刻为零点"},"ReturnDicAllData":{"type":"boolean","description":"是否返回全部数据表(数据量较大),默认为true","default":true}}},"RocketPianCha_3JB":{"type":["object","null"],"properties":{"IsBoosterFenLi":{"type":"boolean","description":"助推是否分离(true:分离)","default":true},"IsFairingFenLi":{"type":"boolean","description":"整流罩是否分离(true:分离)","default":true},"M0_1":{"type":"number","description":"芯一级起飞质量偏差(0.1表示10%)","format":"double"},"M0_2":{"type":"number","description":"芯二级起飞质量偏差(0.1表示10%)","format":"double"},"M0_3":{"type":"number","description":"芯三级起飞质量偏差(0.1表示10%)","format":"double"},"T_F1":{"type":"number","description":"一级主机故障时刻(s)(起飞时刻为0点）","format":"double"},"T_Fb":{"type":"number","description":"一级助推故障时刻(s)(起飞时刻为0点）","format":"double"},"T_F2":{"type":"number","description":"二级主机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F2u":{"type":"number","description":"二级游机故障时刻(s)(二级起飞时刻为0点）","format":"double"},"T_F3":{"type":"number","description":"三级主机故障时刻(s)(三级起飞时刻为0点）","format":"double"},"F_1":{"type":"number","description":"芯一级推力偏差(0.1表示10%)","format":"double"},"F_b":{"type":"number","description":"一级助推推力偏差(0.1表示10%)","format":"double"},"F_2":{"type":"number","description":"二级主机推力偏差(0.1表示10%)","format":"double"},"F_2u":{"type":"number","description":"二级游机推力偏差(0.1表示10%)","format":"double"},"F_3":{"type":"number","description":"三级推力偏差(0.1表示10%)","format":"double"},"Ips_1":{"type":"number","description":"芯一级比冲偏差(0.1表示10%)","format":"double"},"Ips_b":{"type":"number","description":"一级助推比冲偏差(0.1表示10%)","format":"double"},"Ips_2":{"type":"number","description":"二级主机比冲偏差(0.1表示10%)","format":"double"},"Ips_2u":{"type":"number","description":"二级游机比冲偏差(0.1表示10%)","format":"double"},"Ips_3":{"type":"number","description":"三级比冲偏差(0.1表示10%)","format":"double"}},"description":"制导偏差量"},"RocketSegmentFA_Input":{"required":["Gw","T1","Alpham","Natmos","RocketSegments","sma0","ecc0","inc0","omg0"],"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"RocketType":{"type":["string","null"],"description":"火箭类型名称,用于输出制导参数时识别各飞行段。<br>目前支持的有: CZ3A,CZ3B,CZ3C,CZ4B,CZ4C,CZ2C,CZ2D,CZ7A"},"AllDataStep":{"type":"integer","description":"AllData表输出步长(1表示0.1s, 10表示1s),缺省:10","format":"int32","default":10},"UseMcsProfile":{"type":"boolean","description":"是否使用MCS file运行弹道","default":false},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Natmos":{"type":"integer","description":"大气段飞行段数","format":"int32"},"AeroParamsFileName":{"type":["string","null"],"description":"气动数据表文件名(位于../Data/Rocket/ 目录下)"},"RocketSegments":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketSegmentInfo"},"description":"火箭飞行段序列"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"},"ProfileOptim":{"$ref":"#/components/schemas/VAMCSProfileDEOptimizer"},"Profiles":{"type":["array","null"],"items":{"$ref":"#/components/schemas/IVAMCSProfile"},"description":"MCS文件数组(使用此可定义多个优化文件，此时ProfileOptim不必定义)"}},"description":"优化后的最新输入参数"},"RocketSegmentFA_Input2":{"required":["Gw","T1","Alpham","Natmos","RocketSegments","sma0","ecc0","inc0","omg0"],"type":"object","properties":{"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"RocketType":{"type":["string","null"],"description":"火箭类型名称,用于输出制导参数时识别各飞行段。<br>目前支持的有: CZ3A,CZ3B,CZ3C,CZ4B,CZ4C,CZ2C,CZ2D,CZ7A"},"AllDataStep":{"type":"integer","description":"AllData表输出步长(1表示0.1s, 10表示1s),缺省:10","format":"int32","default":10},"UseMcsProfile":{"type":"boolean","description":"是否使用MCS file运行弹道","default":false},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Natmos":{"type":"integer","description":"大气段飞行段数","format":"int32"},"AeroParamsFileName":{"type":["string","null"],"description":"气动数据表文件名(位于../Data/Rocket/ 目录下)"},"RocketSegments":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketSegmentInfo"},"description":"火箭飞行段序列"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"},"ProfileOptim":{"$ref":"#/components/schemas/VAMCSProfileDEOptimizer"},"Profiles":{"type":["array","null"],"items":{"$ref":"#/components/schemas/IVAMCSProfile"},"description":"MCS文件数组(使用此可定义多个优化文件，此时ProfileOptim不必定义)"}}},"RocketSegmentFA_Output":{"type":"object","properties":{"IsSuccess":{"type":"boolean","description":"结果(True:成功；FALSE:失败)"},"Message":{"type":["string","null"],"description":"结果信息(主要是存储失败的原因)"},"Input_New":{"$ref":"#/components/schemas/RocketSegmentFA_Input"},"DicGuidanceParams":{"type":["object","null"],"description":"制导使用的参数字典（根据火箭型号和飞行段）"},"DicAllData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"所有点弹道参数"},"DicAllDataZJ":{"type":["array","null"],"items":{"type":"object","additionalProperties":{"type":"array"}},"description":"所有子级的弹道参数"},"DicKeyData":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"特征点弹道参数"},"DicKeyData2":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"特征点弹道参数"},"DicShiXu":{"type":["object","null"],"additionalProperties":{"type":"array"},"description":"飞行时序(每个飞行段的开始时刻:段名称,总时间,段时间）"},"ZJLD":{"type":["array","null"],"items":{"$ref":"#/components/schemas/RocketZJLDInfo"},"description":"所有子级落点表"}}},"RocketSegmentInfo":{"required":["Name","Fx","Ips","Gj","Dt","Sm","Sa","Psicx","Phicx_dot"],"type":"object","properties":{"Name":{"type":["string","null"],"description":"段名称，各级开始段名称最好为:一级起飞，二级起飞..."},"Text":{"type":["string","null"],"description":"段说明"},"Fx":{"type":"number","description":"段轴向总推力(N)。需要将多个发动机综合求解得到轴向总推力!","format":"double"},"Ips":{"type":"number","description":"段总比冲(m/s)。根据多台发动机的秒耗量和Fx，反过来计算总比冲！","format":"double"},"Gj":{"type":"number","description":"段末抛掉的结构质量(kg)","format":"double"},"Dt":{"type":"number","description":"段飞行时长(s)","format":"double"},"Sm":{"type":"number","description":"气动面积(m^2)","format":"double"},"Sa":{"type":"number","description":"发动机喷口面积(m^2)","format":"double"},"Psicx":{"type":["string","null"],"description":"偏航角(Follow,或具体角度(deg))。Follow则表示与上段相同!"},"Phicx_dot":{"type":"number","description":"俯仰角变化率(deg/s)","format":"double"}}},"RocketTrajectoryInput":{"required":["$type"],"type":["object","null"],"anyOf":[{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ2D"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ3B"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ4B"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ4C"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ8"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_Falcon9"},{"$ref":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_TwoStage"}],"description":"火箭弹道输入参数(支持 CZ-2D 等派生类型,JSON 反序列化)","discriminator":{"propertyName":"$type","mapping":{"CZ-2D":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ2D","CZ-3B":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ3B","CZ-4B":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ4B","CZ-4C":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ4C","CZ-8":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_CZ8","Falcon9":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_Falcon9","TwoStage":"#/components/schemas/RocketTrajectoryInputRocketTrajectoryInput_TwoStage"}}},"RocketTrajectoryInputRocketTrajectoryInput_CZ2D":{"properties":{"$type":{"enum":["CZ-2D"],"type":"string"},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)(可用推进剂)","format":"double"},"Stage1_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"一级发动机"},"Stage2_MainEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级主机"},"Stage2_VernierEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级游机"},"Tk_1":{"type":"number","description":"一级关机时刻(s)(从起飞开始)","format":"double"},"Dt_k12f":{"type":"number","description":"一级关机到一二级分离的时间(s)","format":"double","default":1.2},"Tk_F":{"type":"number","description":"整流罩分离时刻(s)(从二级起飞开始)","format":"double"},"Tk_2z":{"type":"number","description":"二级主机关机时刻(s)(从二级起飞开始)","format":"double"},"Tk_2u":{"type":"number","description":"二级主机关机到游机关机时长(s)","format":"double"},"Dt_xjfl":{"type":"number","description":"二级游机关机到星箭分离时长(s)","format":"double","default":32},"PhicxDot_2z":{"type":"number","description":"二级主机工作段俯仰程序角变化率(deg/s)","format":"double","default":0},"PhicxDot_2u":{"type":"number","description":"二级游机工作段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_2":{"type":"number","description":"二级工作段偏航程序角变化率(deg/s)","format":"double","default":0},"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"Text2":{"type":["string","null"],"description":"方案说明2","default":"方案说明2"},"Text3":{"type":["string","null"],"description":"方案说明3","default":"方案说明3"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"FairingMass":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Sm":{"type":"number","description":"一级飞行段气动面积(m^2)(芯级+助推总横截面积)","format":"double"},"Sm2":{"type":"number","description":"二级飞行段(含子级)气动面积(m^2)","format":"double"},"SmFairing":{"type":"number","description":"整流罩坠落段气动面积(m^2)","format":"double"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"}}},"RocketTrajectoryInputRocketTrajectoryInput_CZ3B":{"properties":{"$type":{"enum":["CZ-3B"],"type":"string"},"Booster_Sm":{"type":"number","description":"单助推器气动面积(m^2)(子级计算用)","format":"double","default":3.976},"Booster_Mass":{"type":"number","description":"单个助推器总质量(kg)(结构+推进剂)","format":"double"},"Booster_FuelMass":{"type":"number","description":"单个助推器推进剂质量(kg)","format":"double"},"NumberOfBooster":{"type":"integer","description":"助推器数量","format":"int32","default":4},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)","format":"double"},"Stage3_Mass":{"type":"number","description":"芯三级总质量(kg)(结构+推进剂)","format":"double"},"Stage3_FuelMass":{"type":"number","description":"芯三级推进剂质量(kg)","format":"double"},"Booster_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"助推器发动机(如 4×YF-25)"},"Stage1_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"芯一级发动机(如 4×YF-21C)"},"Stage2_MainEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级主机(YF-22E)"},"Stage2_VernierEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级游机(YF-23C)"},"Stage3_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"三级发动机(如 2×YF-75)"},"Tk_zt":{"type":"number","description":"助推器关机/分离时刻(s)(从起飞)","format":"double"},"Dt_ztf":{"type":"number","description":"助推器关机至分离时长(s)","format":"double","default":1.5},"Tk_1":{"type":"number","description":"芯一级关机时刻(s)(从起飞, 须大于 Tk_zt)","format":"double"},"Dt_k12f":{"type":"number","description":"一级关机到一二级分离时长(s)","format":"double","default":1.2},"Tk_F":{"type":"number","description":"自二级点火至整流罩分离的大气飞行时间(s)","format":"double"},"Tk_2z":{"type":"number","description":"自二级点火至二级主机关机累计时间(s), 须大于 Tk_F","format":"double"},"Tk_2u":{"type":"number","description":"二级游机单独工作时长(s)","format":"double"},"Dt_k23f":{"type":"number","description":"游机关机至三级点火间滑行(s)","format":"double","default":1},"Tk_3":{"type":"number","description":"三级一次工作时间(s)","format":"double"},"Dt_hx":{"type":"number","description":"三级一次关机至三级二次点火间滑行时长(s)","format":"double"},"Tk_32":{"type":"number","description":"三级二次工作时间(s)","format":"double"},"Dt_msxz":{"type":"number","description":"三级二次关机至末速修正关机时长(s)","format":"double","default":20},"Dt_xjfl":{"type":"number","description":"末速修正关机至星箭分离前滑行(s)","format":"double"},"PhicxDot_2z":{"type":"number","description":"二级主机真空段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_2z":{"type":"number","description":"二级真空段偏航程序角变化率(deg/s)","format":"double","default":0},"PhicxDot_3":{"type":"number","description":"三级一次工作段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_3":{"type":"number","description":"三级一次工作段偏航程序角变化率(deg/s)","format":"double","default":0},"PhicxDot_Hx":{"type":"number","description":"三级一次关机滑行段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_Hx":{"type":"number","description":"三级一次关机滑行段偏航程序角变化率(deg/s)","format":"double","default":0},"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"Text2":{"type":["string","null"],"description":"方案说明2","default":"方案说明2"},"Text3":{"type":["string","null"],"description":"方案说明3","default":"方案说明3"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"FairingMass":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Sm":{"type":"number","description":"一级飞行段气动面积(m^2)(芯级+助推总横截面积)","format":"double"},"Sm2":{"type":"number","description":"二级飞行段(含子级)气动面积(m^2)","format":"double"},"SmFairing":{"type":"number","description":"整流罩坠落段气动面积(m^2)","format":"double"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"}}},"RocketTrajectoryInputRocketTrajectoryInput_CZ4B":{"properties":{"$type":{"enum":["CZ-4B"],"type":"string"},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)","format":"double"},"Stage3_Mass":{"type":"number","description":"芯三级总质量(kg)(结构+推进剂)","format":"double"},"Stage3_FuelMass":{"type":"number","description":"芯三级推进剂质量(kg)","format":"double"},"Stage1_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"一级发动机(如 4×YF-21C)"},"Stage2_MainEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级主机"},"Stage2_VernierEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级游机"},"Stage3_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"三级发动机(如 2×YF-40 等效)"},"Tk_1":{"type":"number","description":"一级关机时刻(s)(从起飞)","format":"double"},"Dt_k12f":{"type":"number","description":"一级关机到一二级分离时长(s)","format":"double","default":1.2},"Tk_F":{"type":"number","description":"自二级点火至整流罩分离的大气飞行时间(s)","format":"double"},"Tk_2z":{"type":"number","description":"自二级点火至二级主机关机(真空+游机段分界)累计时间(s), 须大于 Tk_F","format":"double"},"Tk_2u":{"type":"number","description":"二级游机单独工作时长(s)","format":"double"},"Dt_k23f":{"type":"number","description":"游机关机至三级点火间滑行(s)","format":"double","default":3},"Tk_3":{"type":"number","description":"三级发动机工作时间(s)","format":"double"},"Dt_msxz":{"type":"number","description":"三级关机至末速修正关机时长(s)","format":"double","default":14},"Dt_xjfl":{"type":"number","description":"末速修正关机至星箭分离前滑行(s)","format":"double","default":86},"PhicxDot_2z":{"type":"number","description":"二级主机真空段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_2":{"type":"number","description":"二级真空段偏航程序角变化率(deg/s)","format":"double","default":0},"PhicxDot_3":{"type":"number","description":"三级俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_3":{"type":"number","description":"三级偏航程序角变化率(deg/s)","format":"double","default":0},"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"Text2":{"type":["string","null"],"description":"方案说明2","default":"方案说明2"},"Text3":{"type":["string","null"],"description":"方案说明3","default":"方案说明3"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"FairingMass":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Sm":{"type":"number","description":"一级飞行段气动面积(m^2)(芯级+助推总横截面积)","format":"double"},"Sm2":{"type":"number","description":"二级飞行段(含子级)气动面积(m^2)","format":"double"},"SmFairing":{"type":"number","description":"整流罩坠落段气动面积(m^2)","format":"double"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"}}},"RocketTrajectoryInputRocketTrajectoryInput_CZ4C":{"properties":{"$type":{"enum":["CZ-4C"],"type":"string"},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)","format":"double"},"Stage3_Mass":{"type":"number","description":"芯三级总质量(kg)(结构+推进剂)","format":"double"},"Stage3_FuelMass":{"type":"number","description":"芯三级推进剂质量(kg)","format":"double"},"Stage1_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"一级发动机(如 4×YF-21)"},"Stage2_MainEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级主机"},"Stage2_VernierEngine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"二级游机"},"Stage3_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Text":{"type":["string","null"],"description":"发动机说明"},"NumberOfEngines":{"type":"integer","description":"发动机台数,缺省为1台","format":"int32","default":1},"IsBooster":{"type":"boolean","description":"是否助推器,缺省为非助推器","default":false},"CantAngle":{"type":"number","description":"发动机安装偏角(deg),缺省为0，即推力轴线与火箭纵轴重合","format":"double","default":0},"Force":{"type":"number","description":"单台发动机额定推力(N)","format":"double"},"Ips":{"type":"number","description":"单台发动机额定比冲(m/s)","format":"double","default":3000},"Sa":{"type":"number","description":"单台发动机喷口面积(m^2)","format":"double"},"IsVacuum":{"type":"boolean","description":"是否真空段发动机,缺省为地面发动机","default":false},"ThrustThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机推力节流时间变化的列表(t1,F_th1,t2,F_th2,...)(单位:s,) <br>以点火时刻为零点,这里的F_th为节流系数,需要乘以Force才是真正的推力大小:Force*F_th <br>超出最后一个点的时间将使用最后一个点的节流系数"},"IpsThrottling":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"单台发动机的比冲节流时间变化列表(t1,Ips_th1,t2,Ips_th2,...)(单位:s,...) <br>以点火时刻为零点,这里的Ips_th为比冲节流系数,需要乘以Ips才是真正的比冲大小:Ips*Ips_th <br>超出最后一个点的时间将使用最后一个点的节流系数"}},"description":"三级发动机(如 2×YF-40 等效)"},"Tk_1":{"type":"number","description":"一级关机时刻(s)(从起飞)","format":"double"},"Dt_k12f":{"type":"number","description":"一级关机到一二级分离时长(s)","format":"double","default":1.2},"Tk_F":{"type":"number","description":"自二级点火至整流罩分离的大气飞行时间(s)","format":"double"},"Tk_2z":{"type":"number","description":"自二级点火至二级主机关机(真空+游机段分界)累计时间(s), 须大于 Tk_F","format":"double"},"Tk_2u":{"type":"number","description":"二级游机单独工作时长(s)","format":"double"},"Dt_k23f":{"type":"number","description":"游机关机至三级点火间滑行(s)","format":"double","default":1},"Tk_3":{"type":"number","description":"三级一次工作时间(s)","format":"double"},"Dt_hx":{"type":"number","description":"三级一次关机至三级二次点火间滑行时长(s)","format":"double"},"Tk_32":{"type":"number","description":"三级二次工作时间(s)","format":"double"},"Dt_msxz":{"type":"number","description":"三级二次关机至末速修正关机时长(s)","format":"double","default":14},"Dt_xjfl":{"type":"number","description":"末速修正关机至星箭分离前滑行(s)","format":"double"},"PhicxDot_2z":{"type":"number","description":"二级主机真空段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_2z":{"type":"number","description":"二级真空段偏航程序角变化率(deg/s)","format":"double","default":0},"PhicxDot_3":{"type":"number","description":"三级一次工作段俯仰程序角变化率(deg/s)","format":"double","default":0},"PsicxDot_3":{"type":"number","description":"三级一次工作段偏航程序角变化率(deg/s)","format":"double","default":0},"Phicx_DotHx":{"type":"number","description":"三级一次关机滑行段俯仰程序角变化率(deg/s)","format":"double","default":0},"Name":{"type":["string","null"],"description":"名称","default":"方案名称"},"Text":{"type":["string","null"],"description":"方案说明","default":"方案说明"},"Text2":{"type":["string","null"],"description":"方案说明2","default":"方案说明2"},"Text3":{"type":["string","null"],"description":"方案说明3","default":"方案说明3"},"Name_FaSheDian":{"type":["string","null"],"description":"发射点名称"},"FaSheDianLLA":{"type":["array","null"],"items":{"type":"number","format":"double"},"description":"发射点大地经度(deg),纬度(deg),高度(m)  <br>如果Name_FaSheDian未赋值则采用此参数"},"Gw":{"type":"number","description":"有效载荷质量(kg)","format":"double"},"FairingMass":{"type":"number","description":"整流罩质量(kg)","format":"double"},"A0":{"type":"number","description":"发射方位角(deg)  <br>此数值未赋值时，则内部自动根据入轨倾角计算初值  <br>最好手动给合理的初值","format":"double","default":-1001},"T1":{"type":"number","description":"转弯开始时刻(s)","format":"double"},"Alpham":{"type":"number","description":"大气飞行段最大攻角(deg)","format":"double"},"Sm":{"type":"number","description":"一级飞行段气动面积(m^2)(芯级+助推总横截面积)","format":"double"},"Sm2":{"type":"number","description":"二级飞行段(含子级)气动面积(m^2)","format":"double"},"SmFairing":{"type":"number","description":"整流罩坠落段气动面积(m^2)","format":"double"},"sma0":{"type":"number","description":"目标轨道半长轴(m)","format":"double"},"ecc0":{"type":"number","description":"目标轨道偏心率","format":"double"},"inc0":{"type":"number","description":"目标轨道倾角(deg)","format":"double"},"omg0":{"type":"number","description":"目标轨道近地点幅角(deg)","format":"double"}}},"RocketTrajectoryInputRocketTrajectoryInput_CZ8":{"properties":{"$type":{"enum":["CZ-8"],"type":"string"},"Booster_Sm":{"type":"number","description":"单助推器气动面积(m^2)(子级计算用)","format":"double","default":2.812},"Booster_Mass":{"type":"number","description":"单个助推器总质量(kg)(结构+推进剂)","format":"double"},"Booster_FuelMass":{"type":"number","description":"单个助推器推进剂质量(kg)","format":"double"},"NumberOfBooster":{"type":"integer","description":"助推器数量","format":"int32","default":2},"Stage1_Mass":{"type":"number","description":"芯一级总质量(kg)(结构+推进剂)","format":"double"},"Stage1_FuelMass":{"type":"number","description":"芯一级推进剂质量(kg)","format":"double"},"Stage2_Mass":{"type":"number","description":"芯二级总质量(kg)(结构+推进剂)","format":"double"},"Stage2_FuelMass":{"type":"number","description":"芯二级推进剂质量(kg)(可用推进剂)","format":"double"},"Booster_Engine":{"type":["object","null"],"properties":{"Name":{"type":["string","null"],"description":"发动机名称"},"Te
[...]
